<html>
<head>
<style type="text/css">
    {{style|raw}}
</style>
</head>
<body>
<p>
    <center><img src="{{image1}}" class="logo"></center>
</p>
<p class="catalog center"><b>Price Catalog</b></p>
<p class="center">{{version}}</p>
<footer>
    Page 1
</footer>
</body>
</html>