<html>
<head>
<style type="text/css">
{{style}}
td {
    padding: 0;
}
body {
     margin-top: 1.5cm;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=4><h2><b>Infinity Aluminum®</b>........................................................................</h2></td><td colspan=3><h2>PG.12</h2></td>
</tr>
<tr>
<td colspan=3><h4><u>Classic Style Fence</u>................................................................</h4></td><td colspan=4><h4>PG.12</h4></td>
</tr>
<tr class="page_level">
<td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG.12</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG.12</td>
</tr>
<tr class="page_level">
 <td colspan=2>Arched Gates...........................................................................</td><td colspan=5>PG.12</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates...........................................................................</td><td colspan=5>PG.13</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Pool Style Fence</u>....................................................................</h4></strong></td><td colspan=4><h4>PG.13</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG.13</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG.13</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates...........................................................................</td><td colspan=5>PG.13</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Classic Style Driveway Gates</u>...............................................</h4></strong></td><td colspan=4><h4>PG.14</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG.14</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates..........................................................................</td><td colspan=5>PG.14</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Smooth Top Style Driveway Gates</u>.......................................</h4></strong></td><td colspan=4><h4>PG.14</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates..........................................................................</td><td colspan=5>PG.14</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Fence and Gate Posts</u>...........................................................</h4></strong></td><td colspan=4><h4>PG.15</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Standard Iron Posts................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Flange Posts....................................................................</td><td colspan=5>PG.16</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Driveway Gate Posts.....................................................</td><td colspan=5>PG.16</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Aluminum Fence and Gate Hardware</u>.................................</h4></strong></td><td colspan=4><h4>PG.15</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Aluminum Post Caps.............................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Aluminum Post Flanges........................................................</td><td colspan=5>PG.16</td>
</tr>
<tr class="page_level">
 <td colspan=2>Aluminum Brackets................................................................</td><td colspan=5>PG.16</td>
</tr>
<tr class="page_level">
 <td colspan=2>Aluminum Screws...................................................................</td><td colspan=5>PG.16</td>
</tr>
<tr class="page_level">
 <td colspan=2>Aluminum Post Flanges.........................................................</td><td colspan=5>PG.16</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=4><h2><b>Gate Hinge and Latch Hardware</b>...................................................</h2></td><td colspan=3><h2>PG.18</h2></td>
</tr>
<tr class="page_level">
 <td colspan=2>Hinges........................................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Latches.......................................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Drop Rods.................................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=4><h2><b>Driveway Gate Automation</b>.............................................................</h2></td><td colspan=3><h2>PG.19</h2></td>
</tr>
<tr class="page_level">
 <td colspan=2>Opener Systems........................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Transmitters...............................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Keypads and Intercoms...........................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Locks...........................................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Entry/ Exit Sensors..................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Power Accessories.....................................................................</td><td colspan=5>PG.15</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=4><h2><b>Add-On Decorations</b>.......................................................................</h2></td><td colspan=3><h2>PG.20</h2></td>
</tr>
<tr class="page_level">
 <td colspan=2>Individual Decorations.............................................................</td><td colspan=5>PG.15</td>
</tr>
<tr class="page_level">
 <td colspan=2>Decorations by the Panel.........................................................</td><td colspan=5>PG.15</td>
</tr>
</tbody>
</table>
<footer>
    Page 4
</footer>
</body>
</html>