<html>
<head>
<style type="text/css">
{{style}}
td {
    border: 1px solid black;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    width: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image17 {
    width: 270%;
}
.image18 {
    width: 200%;
}
.image19 {
    width: 200%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>Gate Hinge and Latch Hardware</u></b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Gate Hinges</td>
</tr>
<tr>
<td class="header">Type</td>
<td class="header">Description</td>
<td class="header">Adjustable?</td>
<td class="header">Rating</td>
<td colspan="2" class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>J-Bolt</td>
<td>5.5" J-Bolt</td>
<td>Yes</td>
<td>300lbs</td>
<td colspan="2">TPJB55 (ea)</td>
<td>$19,39</td>
</tr>
<tr>
<td class="gray">J-Bolt</td>
<td class="gray">7" J-Bolt</td>
<td class="gray">Yes</td>
<td class="gray">450lbs</td>
<td class="gray" colspan="2">TPJB07 (ea)</td>
<td class="gray">$31,28</td>
</tr>
<tr>
<td>J-Bolt</td>
<td>Hdw Kit</td>
<td>N/A</td>
<td>N/A</td>
<td colspan="2">TPHBOLTS (1 per hinge pr)</td>
<td>$18,50</td>
</tr>
<tr>
<td class="gray">Self-Closing</td>
<td class="gray">Standard- Duty</td>
<td class="gray">No</td>
<td class="gray">66lbs</td>
<td class="gray" colspan="2">TPSHG-90L (pr)</td>
<td class="gray">$32,07</td>
</tr>
<tr>
<td>Self-Closing</td>
<td>Heavy-Duty</td>
<td>No</td>
<td>154lbs</td>
<td colspan="2">TPSHH-135LS (pr)</td>
<td>$59,24</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Gate Latches</td>
</tr>
<tr>
<td colspan="2" class="header">Description</td>
<td class="header">Handle?</td>
<td class="header">Keyed?</td>
<td colspan="2" class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td colspan="2">Standard Gravity Latch</td>
<td>No</td>
<td>No</td>
<td colspan="2">TP11056B</td>
<td>$8,70</td>
</tr>
<tr>
<td class="gray" colspan="2">Cobra Single Gravity Latch</td>
<td class="gray">No</td>
<td class="gray">Yes</td>
<td class="gray" colspan="2">TPSL1000</td>
<td class="gray">$38,48</td>
</tr>
<tr>
<td colspan="2">Cobra Double Gravity Latch</td>
<td>No</td>
<td>Yes</td>
<td colspan="2">TPSL2000</td>
<td>$82,89</td>
</tr>
<tr>
<td class="gray" colspan="2">Safetech Pool Latch</td>
<td class="gray">No</td>
<td class="gray">Yes</td>
<td class="gray" colspan="2">TPSL-50</td>
<td class="gray">$60,32</td>
</tr>
<tr>
<td colspan="2">OrnaMag Latch</td>
<td>Yes</td>
<td>Yes</td>
<td colspan="2">TP-OM_BL-K</td>
<td>$87,45</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
<tr>
<td colspan=7 class="second_title left">Drop Rods for Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>24" Standard</td>
<td>TP09010-1B</td>
<td>$22,63</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">36" Standard</td>
<td class="gray">TP09010B</td>
<td class="gray">$28,27</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7>imagem1 imagem2</td>
<tr>
</tbody>
</table>
<footer>
    Page 18
</footer>
</body>
</html>