<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Add-On Decorations</td>
</tr>
<tr>
<td colspan=7>* All add-on decorations fit vertically over the picket and are secured via self-tapping screws</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Individual Decorations</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Fence Grade</td>
<td>Style</td>
<td>SKU</td>
<td>Price</td>
<td>Height</td>
<td>Width</td>
<td> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Butterfly</td>
<td>TP12010-BH</td>
<td>$2,27</td>
<td>3.625"</td>
<td>3.75"</td>
<td> </td>
</tr>
<tr>
<td>Signature</td>
<td>Butterfly</td>
<td>TP12010-2BH</td>
<td>$2,27</td>
<td>3.625"</td>
<td>3.75"</td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Ring Set</td>
<td>TPDRA01R</td>
<td>$6,80</td>
<td>3.75"</td>
<td>12.875"</td>
<td> </td>
</tr>
<tr>
<td>Signature</td>
<td>Ring Set</td>
<td>TPDRA01C</td>
<td>$6,80</td>
<td>3.75"</td>
<td>12.875"</td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Guardian</td>
<td>TP12001-BH</td>
<td>$16,94</td>
<td>16.5"</td>
<td>6.75"</td>
<td> </td>
</tr>
<tr>
<td>Signature</td>
<td>Guardian</td>
<td>TP12001-2BH</td>
<td>$16,94</td>
<td>16.5"</td>
<td>6.75"</td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Cape Cod</td>
<td>TP12004-BH</td>
<td>$16,94</td>
<td>13.75"</td>
<td>7.25"</td>
<td> </td>
</tr>
<tr>
<td>Signature</td>
<td>Cape Cod</td>
<td>TP12004-2BH</td>
<td>$16,94</td>
<td>13.75"</td>
<td>7.25"</td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Oak</td>
<td>TP12002-BH</td>
<td>$20,24</td>
<td>15.125"</td>
<td>7.875"</td>
<td> </td>
</tr>
<tr>
<td>Signature</td>
<td>Oak</td>
<td>TP12002-2BH</td>
<td>$20,24</td>
<td>15.125"</td>
<td>7.875"</td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Self-Tapping Screws for Decorations</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td>Count</td>
<td colspan="3">Note</td>
</tr>
<tr>
<td>1/2" x #8</td>
<td>TPSDS058</td>
<td>$12,67</td>
<td>100/ Box</td>
<td colspan="3">For Ring Decorations Only</td>
</tr>
<tr>
<td>3/4" x #8</td>
<td>TPSDS348</td>
<td>$12,67</td>
<td>100/ Box</td>
<td colspan="3">For All Decorations Except Rings</td>
</tr>
<tr>
<td>1" x #8</td>
<td>TPSDS108P</td>
<td>$12,67</td>
<td>100/ Box</td>
<td colspan="3">For Signature Butterfies</td>
</tr>
<tr>
<td colspan=7>imagem1 imagem2</td>
</tr>
<tr>
<td colspan=7>imagem3</td>
</tr>
</tbody>
</table>
<footer>
    Page 19
</footer>
</body>
</html>