<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Stronghold Iron Fence and Gate Hardware</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7>* Two brackets and self-tapping screws required per horizontal rail</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7>(2 rail fence panel = 4 brackets and screws)</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Cast Iron Flat Post Caps</td>
<td> </td>
<td colspan="3">Cast Iron Ball Post Caps</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td</td>
<td>TP06004BH</td>
<td>$3,95</td>
<td> </td>
<td>2"</td>
<td>TP05009BH</td>
<td>$5,25</td>
</tr>
<tr>
<td</td>
<td>TP06010BH</td>
<td>$4,24</td>
<td> </td>
<td>2.5"</td>
<td>TP05010BH</td>
<td>$8,13</td>
</tr>
<tr>
<td</td>
<td>TP06005BH</td>
<td>$5,25</td>
<td> </td>
<td>3"</td>
<td>TP05011BH</td>
<td>$10,01</td>
</tr>
<tr>
<td</td>
<td>TP06006BH</td>
<td>$8,13</td>
<td> </td>
<td>4"</td>
<td>TP05012BH</td>
<td>$19,31</td>
</tr>
<tr>
<td</td>
<td>TP06007BH</td>
<td>$14,70</td>
<td> </td>
<td>6"</td>
<td>TP05014BH</td>
<td>$39,59</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Panel Brackets</td>
<td> </td>
<td colspan="3">Signature Grade Panel Brackets</td>
</tr>
<tr>
<td>Type</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Type</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>Standard</td>
<td>TPFB01R</td>
<td>$1,82</td>
<td> </td>
<td>Standard</td>
<td>TPFB02C</td>
<td>$2,00</td>
</tr>
<tr>
<td>Angle</td>
<td>TPFBA05R</td>
<td>$3,38</td>
<td> </td>
<td>Angle</td>
<td>TPFBA06C</td>
<td>$3,95</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Self-Tapping Screws (100 per Box)</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td x #14</td>
<td>TPSDS114</td>
<td>$14,70</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>
<footer>
    Page 11
</footer>
</body>
</html>