<html>
<head>
<style type="text/css">
@page {
    margin-top: 0cm;
    margin-left: 0cm;
}
tr {
    margin: 0;
}
td {
    margin: 0;
    {# border: 1px solid; #}
}
@font-face {
    font-family: "Garamond";           
    src: local("Garamond"), url("fonts/Garamond Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: Garamond;
    font-size:12px;
    margin-top: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
}
footer {
    position: fixed; 
    bottom: 0cm; 
    left: 0cm; 
    right: 0cm;
    height: 1cm;

    text-align: center;
}
h1 {
    text-transform:uppercase;
    text-align:center;
    font-size:24px;
    margin: 0;
}
h2 {
    font-size:20px;
    margin: 0;
}
h3 {
    font-size:18px;
    margin: 0;
}
h4 {
    font-size:16px;
    margin: 0;

}
.page_level
{
    color: #7030a0;
}
page_break {
    page-break-before: always;
}
</style>
</head>
<body>
<table>
<tbody>

<tr>
<td colspan="5">Puppy Picket Style Iron Fence</td><td> </td><td colspan=2>imagem</td>
</tr>

<tr>
<td colspan="7">Traditional Grade Fence Panels</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0408PPR</td>
<td>235,29</td>
</tr>
<tr>
<td>5'h x 8'w</td>
<td>TP0508PPR</td>
<td>269,95</td>
</tr>

<tr>
<td colspan="3">Traditional Grade Single Gates</td><td> </td><td colspan="3">Traditional Grade Double Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td><td> </td><td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TPG44PPR</td>
<td>479,16</td><td> </td><td>4'h x 8'w</td>
<td>TPG44PPRD</td>
<td>958,32</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TPG45PPR</td>
<td>532,4</td><td> </td><td>4'h x 10'w</td>
<td>TPG45PPRD</td>
<td>1064,8</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPG54PPR</td>
<td>559,02</td><td> </td><td>5'h x 8'w</td>
<td>TPG54PPRD</td>
<td>1118,04</td>
</tr>
<tr>
<td>5'h x 5'w</td>
<td>TPG55PPR</td>
<td>612,26</td><td> </td><td>5'h x 10'w</td>
<td>TPG55PPRD</td>
<td>1224,52</td>
</tr>


<tr>
<td colspan="5">Hoop and Picket Style Iron Fence</td><td colspan=2>imagem</td>
</tr>

<tr>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Fence Panels</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0308HP</td>
<td>193,51</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0408HP</td>
<td>207,68</td>
</tr>
<tr>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Single Gates</td><td> </td><td colspan="3">Traditional Grade Double Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td><td> </td><td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304HPG</td>
<td>320,86</td><td> </td><td>3'h x 8'w</td>
<td>TP0304HPGD</td>
<td>641,72</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TP0305HPG</td>
<td>330,97</td><td> </td><td>3'h x 10'w</td>
<td>TP0305HPGD</td>
<td>661,94</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TP0404HPG</td>
<td>330,97</td><td> </td><td>4'h x 8'w</td>
<td>TP0404HPGD</td>
<td>661,94</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TP0405HPG</td>
<td>361,32</td><td> </td><td>4'h x 10'w</td>
<td>TP0405HPGD</td>
<td>722,63</td>
</tr>
<tr>
<td colspan=3>imagem</td><td> </td><td  colspan=3>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 7
</footer>
</body>
</html>