<html>
<head>
<style type="text/css">
{{style}}
body {
     margin-top: 2cm;
}
.image3 {
    width: 120%;
}
.image4 {
    width: 250%;
    border: 1px solid black;
}
.image5 {
    width: 200%;
    border: 1px solid black;
}
.title {
    font-size:24px;
}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
.image5_td {
    padding-top: 5px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="left"><strong><u><h3>Stronghold Iron&reg;</h3></u></strong></td>
</tr>
<tr>
<td colspan=7 class="left">* Iron fence prices do not include brackets and self-tapping screws required for mounting (see Iron Hardware section) </td>
</tr>
<tr>
<td colspan=7 class="left">* Iron walk gate prices do not include hinge and latch hardware (see Gate Hardware section)</td>
</tr>

<tr>
<td colspan="4" class="title page_level left"><u><b>Classic Style Iron Fence</b></u></td><td colspan="3"><center><img class="image3" src="{{image3}}"></center></td>
</tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0308-2R</td>
<td>171,97</td>
<td class="td_space"> </td>
<td>3'h x 8'w</td>
<td>TP0308-2C</td>
<td>257,95</td>
</tr>
<tr>
<td class="gray">4'h x 8'w</td>
<td class="gray">TP0408-2R</td>
<td class="gray">184,61</td>
<td class="td_space"> </td>
<td class="gray">4'h x 8'w</td>
<td class="gray">TP0408-2C</td>
<td class="gray">270,6</td>
</tr>
<tr>
<td>5'h x 8'w</td>
<td>TP0508-2R</td>
<td>212,43</td>
<td class="td_space"> </td>
<td>5'h x 8'w</td>
<td>TP0508-2C</td>
<td>285,77</td>
</tr>
<tr>
<td class="gray">6'h x 8'w</td>
<td class="gray">TP0608-3R</td>
<td class="gray">268,07</td>
<td class="td_space"> </td>
<td class="gray">6'h x 8'w</td>
<td class="gray">TP0608-3C</td>
<td class="gray">379,34</td>
</tr>


<tr>
<td colspan=4> </td><td colspan=3 class="second_title">Signature</td>
</tr>
<tr>
<td colspan=4> </td><td>4' to 5' Arch</td>
<td>TPGW448</td>
<td>260,22</td>
</tr>
<tr>
<td colspan=4> </td>
<td class="gray">5' to 6' Arch</td>
<td class="gray">TPGW548</td>
<td class="gray">339,41</td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td>
<td class="td_space"> </td>
<td colspan="3" class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td class="gray">3'h x 4'w</td>
<td class="gray">TP0304-RG</td>
<td class="gray">293,36</td>
<td class="td_space"> </td>
<td class="gray">3'h x 4'w</td>
<td class="gray">TP0304-CG</td>
<td class="gray">401,65</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TP0305-RG</td>
<td>303,47</td>
<td class="td_space"> </td>
<td>3'h x 5'w</td>
<td>TP0305-CG</td>
<td>404,62</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-RG</td>
<td class="gray">303,47</td>
<td class="td_space"> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-CG</td>
<td class="gray">424,86</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TP0405-RG</td>
<td>333,82</td>
<td class="td_space"> </td>
<td>4'h x 5'w</td>
<td>TP0405-CG</td>
<td>475,44</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TP0406-RG</td>
<td class="gray">384,4</td>
<td class="td_space"> </td>
<td class="gray">4'h x 6'w</td>
<td class="gray">TP0406-CG</td>
<td class="gray">566,48</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RG</td>
<td>349</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CG</td>
<td>490,61</td>
</tr>
<tr>
<td class="gray">5'h x 5'w</td>
<td class="gray">TP0505-RG</td>
<td class="gray">374,29</td>
<td class="td_space"> </td>
<td class="gray">5'h x 5'w</td>
<td class="gray">TP0505-CG</td>
<td class="gray">556,36</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TP0506-RG</td>
<td>434,97</td>
<td class="td_space"> </td>
<td>5'h x 6'w</td>
<td>TP0506-CG</td>
<td>667,63</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-RG</td>
<td class="gray">394,52</td>
<td class="td_space"> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-CG</td>
<td class="gray">591,77</td>
</tr>
<tr>
<td>6'h x 5'w</td>
<td>TP0605-RG</td>
<td>465,32</td>
<td class="td_space"> </td>
<td>6'h x 5'w</td>
<td>TP0605-CG</td>
<td>677,75</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TP0606-RG</td>
<td class="gray">541,19</td>
<td class="td_space"> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TP0606-CG</td>
<td class="gray">753,62</td>
</tr>
<tr style="padding-top: 5px">
<td colspan="3" class="second_title">Traditional Grade Arched Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Arched Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304-RGA</td>
<td>459,73</td>
<td class="td_space"> </td>
<td>3'h x 4'w</td>
<td>TP0304-CGA</td>
<td>568,03</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-RGA</td>
<td class="gray">469,84</td>
<td class="td_space"> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-CGA</td>
<td class="gray">591,24</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RGA</td>
<td>515,37</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CGA</td>
<td>656,99</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-RGA</td>
<td class="gray">560,89</td>
<td class="td_space"> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-CGA</td>
<td class="gray">758,14</td>
</tr>
<tr>
<td colspan=3>
<img class="image4 shadow" src="{{image4}}">
</td>
<td class="td_space"> </td>
<td colspan=3 class="image5_td">
<img class="image5 shadow" src="{{image5}}">
</td>
</tr>
</tbody>
</table>
<footer>
    Page 5
</footer>
</body>
</html>