<html>
<head>
<style type="text/css">
@page {
    margin-top: 0cm;
    margin-left: 0cm;
}
tr {
    margin: 0;
}
td {
    margin: 0;
    {# border: 1px solid; #}
}
@font-face {
    font-family: "Garamond";           
    src: local("Garamond"), url("fonts/Garamond Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: Garamond;
    font-size:12px;
    margin-top: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
}
footer {
    position: fixed; 
    bottom: 0cm; 
    left: 0cm; 
    right: 0cm;
    height: 1cm;

    text-align: center;
}
h1 {
    text-transform:uppercase;
    text-align:center;
    font-size:24px;
    margin: 0;
}
h2 {
    font-size:20px;
    margin: 0;
}
h3 {
    font-size:18px;
    margin: 0;
}
h4 {
    font-size:16px;
    margin: 0;

}
.page_level
{
    color: #7030a0;
}
page_break {
    page-break-before: always;
}
</style>
</head>
<body>
<table>
<tbody>

<tr>
<td colspan=7>Classic Style Iron Driveway Gates</td>
</tr>
<tr>
<td colspan=7>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </td>
</tr>
<tr>
<td colspan=7>* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>

<tr>
<td colspan=7>Single Piece Gates</td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td colspan=2 rowspan=5>imagem</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPSD5610</td>
<td>1415,15</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPSD5612</td>
<td>1460,8</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPSD6710</td>
<td>1529,28</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPSD6712</td>
<td>1574,93</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td> </td>
</tr>
<tr>
<td>Double Piece Gates</td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td colspan=2 rowspan=13>imagem</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPDD0565</td>
<td>1415,15</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566</td>
<td>1460,8</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567</td>
<td>1689,05</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568</td>
<td>1894,48</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>18' wide</td>
<td>TPDD0569</td>
<td>2145,55</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>20' wide</td>
<td>TPDD5610</td>
<td>2350,98</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPDD0675</td>
<td>1529,28</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676</td>
<td>1574,93</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677</td>
<td>1826</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678</td>
<td>2099,9</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>18' wide</td>
<td>TPDD0679</td>
<td>2350,98</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>20' wide</td>
<td>TPDD6710</td>
<td>2624,88</td></tr>

<tr>
<td colspan=7>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 8
</footer>
</body>
</html>