<html>
<head>
<style type="text/css">
    {{style|raw}}
    .logo {
        width: 70%;
        padding-top: 100px;
    }
    .center {
        text-align: center;
    }
    .image2 {
        margin: 0;
        width: 50%;
        border: 1px solid black;
    }
    .shadow {
        box-shadow: 10px 10px 6px #222;
    }
    body {
        margin-left: 4cm;
        margin-right: 4.35cm;
    }
</style>
</head>
<body class="page2_body">
<h4>A few details about this catalog, product info & getting a quote...</h4>
<p>This price catalog has all of our in-stock items and prices listed throughout. We also offer
custom styles and services if there is something you don't see in the catalog. Email us at:
sales@ironfenceshop.com to inquire about your custom project.</p>
<p>If you are looking for more information about our products or installation, you can visit our
YouTube channel by typing "Iron Fence Shop" into the search bar at www.youtube.com.</p>
<p>You can also visit our Knowledge Center on www.ironfenceshop.com to view our installation
manuals, installed project photos, CAD renderings of all panels and gates and spec sheets along
with lots of other helpful information including our blog. To find the Knowledge Center, just
look for 'Knowledge Center' at the top of the homepage and you'll see a dropdown menu.</p>
<p>While you can use this catalog for per part pricing; we like to speak to each person about their
project. Once you are ready to get a quote or order, send us a layout sketch or materials list and
we will put together an itemized quote for you detailing all the parts required and shipping cost.
Sending us a simple layout sketch is the best way for us to make sure your order is 100% accurate!</p>
<p>If you have any questions about our prices, products or process; feel free to call us at
<br>800-261-2729 or send an email to sales@ironfenceshop.com. We are here to help!</p>
<br><br>
<p class="center">
    <img class="image2 shadow" src="{{image2}}">
</p>
<footer>
    Page 2
</footer>
</body>
</html>