<html>
<head>
<style type="text/css">
{{style}}
td {
    border: 1px solid black;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    width: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image17 {
    width: 270%;
}
.image18 {
    width: 200%;
}
.image19 {
    width: 200%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>Infinity Aluminum Fence and Gate Hardware</u></b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Cast Aluminum Flat Post Caps</td>
<td> </td>
<td colspan=3 class="second_title">Cast Aluminum Ball Post Caps</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>2"</td>
<td>TP06004-ALBH</td>
<td>$3,95</td>
<td> </td>
<td>2"</td>
<td>TP05009-ALBH</td>
<td>$7,91</td>
</tr>
<tr>
<td class="gray">2.5"</td>
<td class="gray">TP06010-ALBH</td>
<td class="gray">$4,53</td>
<td> </td>
<td class="gray">2.5"</td>
<td class="gray">TP05010-ALBH</td>
<td class="gray">$9,05</td>
</tr>
<tr>
<td>4"</td>
<td>TP06006-ALBH</td>
<td>$17,00</td>
<td> </td>
<td>4"</td>
<td>TP05012-ALBH</td>
<td>$33,95</td>
</tr>
<tr>
<td class="gray">6"</td>
<td class="gray">TP06007-ALBH</td>
<td class="gray">$27,16</td>
<td> </td>
<td class="gray">6"</td>
<td class="gray">TP05014-ALBH</td>
<td class="gray">$45,25</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Panel Brackets</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Panel Brackets</td>
</tr>
<tr>
<td class="header">Type</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Type</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>Wall/ Flex</td>
<td>TPAFBRR1</td>
<td>$4,53</td>
<td> </td>
<td>Wall/ Flex</td>
<td>TPAFBRC3</td>
<td>$6,80</td>
</tr>
<tr>
<td class="gray">Angle</td>
<td class="gray">TPAFBAR2</td>
<td class="gray">$4,53</td>
<td> </td>
<td class="gray">Angle</td>
<td class="gray">TPAFBRC4</td>
<td class="gray">$6,80</td>
</tr>
<tr>
<td>Swivel</td>
<td>NW61955BKR</td>
<td>$8,23</td>
<td> </td>
<td>Swivel</td>
<td>NW6228BKC</td>
<td>$8,23</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Self-Tapping Screws (100 per Box)</td>
<td> </td>
<td colspan=3 class="second_title">Flange Inserts for Posts</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>1" x #8</td>
<td>TPSDS108</td>
<td>$9,05</td>
<td> </td>
<td>2"</td>
<td>TP12208B</td>
<td>$13,59</td>
</tr>
<tr>
<td colspan=4> </td>
<td class="gray">2.5"</td>
<td class="gray">TP12209B</td>
<td class="gray">$13,59</td>
</tr>
<tr>
<td colspan=4>imagem</td>
<td colspan=3>imagem<br>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 17
</footer>
</body>
</html>