<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Smooth Top Style Iron Driveway Gates</td>
</tr>
<tr>
<td colspan=7>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=7>* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>
<tr>
<td colspan=4>Double Piece Gates</td><td colspan=3 rowspan=9>imagem</td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566SM</td>
<td>$1.460,80</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567SM</td>
<td>$1.689,05</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568SM</td>
<td>$1.894,48</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676SM</td>
<td>$1.574,93</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677SM</td>
<td>$1.826,00</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678SM</td>
<td>$2.099,90</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td colspan=7>Rings Puppy Picket Style Iron Driveway Gates</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td colspan=7>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td colspan=7>* Optional automated gate opener systems available (see Gate Automation section for options)</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td colspan=4>Double Piece Gates</td><td colspan=3 rowspan=9>imagem</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD676DPR</td>
<td>$2.288,56</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD677DPR</td>
<td>$2.580,75</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD678DPR</td>
<td>$2.944,98</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<footer>
    Page 9
</footer>
</body>
</html>