<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Infinity Aluminum Fence and Gate Hardware</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=3>Cast Aluminum Flat Post Caps</td>
<td> </td>
<td colspan=3>Cast Aluminum Ball Post Caps</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>2"</td>
<td>TP06004-ALBH</td>
<td>$3,95</td>
<td> </td>
<td>2"</td>
<td>TP05009-ALBH</td>
<td>$7,91</td>
</tr>
<tr>
<td>2.5"</td>
<td>TP06010-ALBH</td>
<td>$4,53</td>
<td> </td>
<td>2.5"</td>
<td>TP05010-ALBH</td>
<td>$9,05</td>
</tr>
<tr>
<td>4"</td>
<td>TP06006-ALBH</td>
<td>$17,00</td>
<td> </td>
<td>4"</td>
<td>TP05012-ALBH</td>
<td>$33,95</td>
</tr>
<tr>
<td>6"</td>
<td>TP06007-ALBH</td>
<td>$27,16</td>
<td> </td>
<td>6"</td>
<td>TP05014-ALBH</td>
<td>$45,25</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=3>Traditional Grade Panel Brackets</td>
<td> </td>
<td colspan=3>Signature Grade Panel Brackets</td>
</tr>
<tr>
<td>Type</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Type</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>Wall/ Flex</td>
<td>TPAFBRR1</td>
<td>$4,53</td>
<td> </td>
<td>Wall/ Flex</td>
<td>TPAFBRC3</td>
<td>$6,80</td>
</tr>
<tr>
<td>Angle</td>
<td>TPAFBAR2</td>
<td>$4,53</td>
<td> </td>
<td>Angle</td>
<td>TPAFBRC4</td>
<td>$6,80</td>
</tr>
<tr>
<td>Swivel</td>
<td>NW61955BKR</td>
<td>$8,23</td>
<td> </td>
<td>Swivel</td>
<td>NW6228BKC</td>
<td>$8,23</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=3>Self-Tapping Screws (100 per Box)</td>
<td> </td>
<td colspan=3><center>Flange Inserts for Posts</center></td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>1" x #8</td>
<td>TPSDS108</td>
<td>$9,05</td>
<td> </td>
<td>2"</td>
<td>TP12208B</td>
<td>$13,59</td>
</tr>
<tr>
<td colspan=3> </td>
<td>2.5"</td>
<td>TP12209B</td>
<td>$13,59</td>
</tr>
</tbody>
</table>
<footer>
    Page 17
</footer>
</body>
</html>