<html>
<head>
<style type="text/css">
{{style}}
td {
    padding: 0;
}
</style>
</head>
<body>
<footer>
    Page 3
</footer>
<h3><b><u>Table of Contents</u></b></h3>
<p> </p>
<table>
<tbody>
<tr>
<td colspan=4><h2><b>Stronghold Iron®</b>........................................................................</h2></td><td colspan=3><h2>PG5</h2></td>
</tr>
<tr>
<td colspan=3><h4><u>Classic Style Fence</u>................................................................</h4></td><td colspan=4><h4>PG5</h4></td>
</tr>
<tr class="page_level">
<td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG5</td>
</tr>
<tr class="page_level">
 <td colspan=2>Transition Fence Panels.........................................................</td><td colspan=5>PG5</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG5</td>
</tr>
<tr class="page_level">
 <td colspan=2>Arched Gates...........................................................................</td><td colspan=5>PG5</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates...........................................................................</td><td colspan=5>PG6</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Pool Style Fence</u>....................................................................</h4></strong></td><td colspan=4><h4>PG6</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG6</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG6</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates...........................................................................</td><td colspan=5>PG6</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Puppy Picket Style Fence</u>.....................................................</h4></strong></td><td colspan=4><h4>PG7</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG7</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single and Double Gates.......................................................</td><td colspan=5>PG7</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Hoop and Picket Style Fence</u>...............................................</h4></strong></td><td colspan=4><h4>PG7</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Fence Panels............................................................................</td><td colspan=5>PG7</td>
</tr>
<tr class="page_level">
 <td colspan=2>Single and Double Gates.......................................................</td><td colspan=5>PG7</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Classic Style Driveway Gates</u>...............................................</h4></strong></td><td colspan=4><h4>PG8</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Single Gates.............................................................................</td><td colspan=5>PG8</td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates..........................................................................</td><td colspan=5>PG8</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Smooth Top Style Driveway Gates</u>.......................................</h4></strong></td><td colspan=4><h4>PG9</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates..........................................................................</td><td colspan=5>PG9</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Rings Puppy Picket Style Driveway Gates</u>...........................</h4></strong></td><td colspan=4><h4>PG9</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Double Gates..........................................................................</td><td colspan=5>PG9</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Fence and Gate Posts</u>...........................................................</h4></strong></td><td colspan=4><h4>PG10</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Standard Iron Posts................................................................</td><td colspan=5>PG10</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Flange Posts....................................................................</td><td colspan=5>PG10</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Driveway Gate Posts.....................................................</td><td colspan=5>PG10</td>
</tr>
<tr>
<td  colspan=7> </td>
</tr>
<tr>
<td colspan=3><strong><h4><u>Iron Fence and Gate Hardware</u>............................................</h4></strong></td><td colspan=4><h4>PG11</h4></td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Post Caps........................................................................</td><td colspan=5>PG11</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Brackets...........................................................................</td><td colspan=5>PG11</td>
</tr>
<tr class="page_level">
 <td colspan=2>Iron Screws..............................................................................</td><td colspan=5>PG11</td>
</tr>
</tbody>
</table>
</body>
</html>