<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Classic Style Aluminum Fence (cont'd)</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Double Gates</td>
<td> </td>
<td colspan="3">Signature Grade Double Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TPAG0304RD</td>
<td>$665,60</td>
<td> </td>
<td>3'h x 8'w</td>
<td>TPAG0304CD</td>
<td>$894,43</td>
</tr>
<tr>
<td>3'h x 10'w</td>
<td>TPAG0305RD</td>
<td>$791,95</td>
<td> </td>
<td>3'h x 10'w</td>
<td>TPAG0305CD</td>
<td>$1.074,77</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TPAG0404RD</td>
<td>$705,97</td>
<td> </td>
<td>4'h x 8'w</td>
<td>TPAG0404CD</td>
<td>$950,33</td>
</tr>
<tr>
<td>4'h x 10'w</td>
<td>TPAG0405RD</td>
<td>$837,20</td>
<td> </td>
<td>4'h x 10'w</td>
<td>TPAG0405CD</td>
<td>$1.131,35</td>
</tr>
<tr>
<td>4'h x 12'w</td>
<td>TPAG0406RD</td>
<td>$1.063,47</td>
<td> </td>
<td>4'h x 12'w</td>
<td>TPAG0406CD</td>
<td>$1.312,37</td>
</tr>
<tr>
<td>5'h x 8'w</td>
<td>TPAG0504RD</td>
<td>$796,48</td>
<td> </td>
<td>5'h x 8'w</td>
<td>TPAG0504CD</td>
<td>$1.131,35</td>
</tr>
<tr>
<td>5'h x 10'w</td>
<td>TPAG0505RD</td>
<td>$950,33</td>
<td> </td>
<td>5'h x 10'w</td>
<td>TPAG0505CD</td>
<td>$1.312,37</td>
</tr>
<tr>
<td>5'h x 12'w</td>
<td>TPAG0506RD</td>
<td>$1.131,35</td>
<td> </td>
<td>5'h x 12'w</td>
<td>TPAG0506CD</td>
<td>$1.493,38</td>
</tr>
<tr>
<td>6'h x 8'w</td>
<td>TPAG0604RD</td>
<td>$886,99</td>
<td> </td>
<td>6'h x 8'w</td>
<td>TPAG0604CD</td>
<td>$1.221,86</td>
</tr>
<tr>
<td>6'h x 10'w</td>
<td>TPAG0605RD</td>
<td>$1.063,47</td>
<td> </td>
<td>6'h x 10'w</td>
<td>TPAG0605CD</td>
<td>$1.402,87</td>
</tr>
<tr>
<td>6'h x 12'w</td>
<td>TPAG0606RD</td>
<td>$1.199,23</td>
<td> </td>
<td>6'h x 12'w</td>
<td>TPAG0606CD</td>
<td>$1.583,89</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="5" rowspan="4">Pool Style Aluminum Fence</td>
<td colspan=2>imagem</td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Fence Panels</td>
<td> </td>
<td colspan=3>Signature Grade Fence Panels</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>54"h x 6'w</td>
<td>TPA5406R</td>
<td>$144,82</td>
<td> </td>
<td>54"h x 8'w</td>
<td>TPA5408C</td>
<td>$248,90</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Single Gates</td>
<td> </td>
<td colspan=3>Signature Grade Single Gates</td>
</tr>
<tr>
<td height="33">Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>54"h x 4'w</td>
<td>TPAG0544R</td>
<td>$375,62</td>
<td> </td>
<td>54"h x 4'w</td>
<td>TPAG0544C</td>
<td>$475,17</td>
</tr>
<tr>
<td>54"h x 5'w</td>
<td>TPAG0545R</td>
<td>$452,54</td>
<td> </td>
<td>54"h x 5'w</td>
<td>TPAG0545C</td>
<td>$565,68</td>
</tr>
<tr>
<td>54"h x 6'w</td>
<td>TPAG0546R</td>
<td>$543,05</td>
<td> </td>
<td>54"h x 6'w</td>
<td>TPAG0546C</td>
<td>$656,18</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Arched Gates</td>
<td> </td>
<td colspan=3>Signature Grade Arched Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>54"h x 4'w</td>
<td>TPAG0544R-A</td>
<td>$541,99</td>
<td> </td>
<td>54"h x 4'w</td>
<td>TPAG0544C-A</td>
<td>$641,54</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Double Gates</td>
<td> </td>
<td colspan=3>Signature Grade Double Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>54"h x 8'w</td>
<td>TPAG0544RD</td>
<td>$751,22</td>
<td> </td>
<td>54"h x 8'w</td>
<td>TPAG0544CD</td>
<td>$950,33</td>
</tr>
<tr>
<td>54"h x 10'w</td>
<td>TPAG0545RD</td>
<td>$905,08</td>
<td> </td>
<td>54"h x 10'w</td>
<td>TPAG0545CD</td>
<td>$1.131,35</td>
</tr>
<tr>
<td>54"h x 12'w</td>
<td>TPAG0546RD</td>
<td>$1.086,10</td>
<td> </td>
<td>54"h x 12'w</td>
<td>TPAG0546CD</td>
<td>$1.312,37</td>
</tr>
</tbody>
</table>
<footer>
    Page 13
</footer>
</body>
</html>