<html>
<head>
<style type="text/css">
{{style}}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image17 {
    width: 270%;
}
.image18 {
    width: 200%;
}
.image19 {
    width: 200%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="left"><strong><u><h3>Infinity Aluminum&reg;</h3></u></td>
</tr>
<tr>
<td colspan=7 class="left">* Aluminum fence requires use of self-tapping screws for installation (see Aluminum Hardware section)</td>
</tr>
<tr>
<td colspan=7 class="left">* Aluminum walk gate prices do not include hinge and latch hardware (see Gate Hardware section for options)</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="5" rowspan="5" class="title page_level left"><b><u>Classic Style Aluminum Fence</b></u></td>
</tr>
<tr>
<td colspan=2 rowspan=5>imagem</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Fence Panels</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 6'w</td>
<td>TPA0306R</td>
<td>$126,72</td>
<td> </td>
<td>3'h x 6'w</td>
<td>TPA0308C-6</td>
<td>$181,02</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPA0406R</td>
<td class="gray">$132,92</td>
<td> </td>
<td class="gray">3'h x 8'w</td>
<td class="gray">TPA0308C</td>
<td class="gray">$230,80</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TPA0506R</td>
<td>$165,19</td>
<td> </td>
<td>4'h x 6'w</td>
<td>TPA0408C-6</td>
<td>$192,34</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPA0606R</td>
<td class="gray">$200,23</td>
<td> </td>
<td class="gray">4'h x 8'w</td>
<td class="gray">TPA0408C</td>
<td class="gray">$244,38</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=4 class="td_space">&nbsp;</td>
<td colspan=3 class="second_title">Signature</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td>5'h x 6'w</td>
<td>TPA0508C-6</td>
<td>$203,64</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPA0608C-6</td>
<td class="gray">$260,22</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Single Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td class="gray">3'h x 4'w</td>
<td class="gray">TPAG0304R</td>
<td class="gray">$332,75</td>
<td> </td>
<td class="gray">3'h x 4'w</td>
<td class="gray">TPAG0304C</td>
<td class="gray">$447,22</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TPAG0305R</td>
<td>$395,98</td>
<td> </td>
<td>3'h x 5'w</td>
<td>TPAG0305C</td>
<td>$537,38</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404R</td>
<td class="gray">$352,99</td>
<td> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404C</td>
<td class="gray">$475,17</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TPAG0405R</td>
<td>$418,61</td>
<td> </td>
<td>4'h x 5'w</td>
<td>TPAG0405C</td>
<td>$565,68</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPAG0406R</td>
<td class="gray">$531,74</td>
<td> </td>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPAG0406C</td>
<td class="gray">$656,18</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPAG0504R</td>
<td>$398,24</td>
<td> </td>
<td>5'h x 4'w</td>
<td>TPAG0504C</td>
<td>$565,68</td>
</tr>
<tr>
<td class="gray">5'h x 5'w</td>
<td class="gray">TPAG0505R</td>
<td class="gray">$475,17</td>
<td> </td>
<td class="gray">5'h x 5'w</td>
<td class="gray">TPAG0505C</td>
<td class="gray">$656,18</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TPAG0506R</td>
<td>$565,68</td>
<td> </td>
<td>5'h x 6'w</td>
<td>TPAG0506C</td>
<td>$746,69</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604R</td>
<td class="gray">$443,50</td>
<td> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604C</td>
<td class="gray">$610,93</td>
</tr>
<tr>
<td>6'h x 5'w</td>
<td>TPAG0605R</td>
<td>$531,74</td>
<td> </td>
<td>6'h x 5'w</td>
<td>TPAG0605C</td>
<td>$701,44</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPAG0606R</td>
<td class="gray">$599,62</td>
<td> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPAG0606C</td>
<td class="gray">$791,95</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Arched Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Arched Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TPAG0304R-A</td>
<td>$499,13</td>
<td> </td>
<td>3'h x 4'w</td>
<td>TPAG0304C-A</td>
<td>$641,54</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404R-A</td>
<td class="gray">$519,37</td>
<td> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404C-A</td>
<td class="gray">$653,64</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPAG0504R-A</td>
<td>$564,62</td>
<td> </td>
<td>5'h x 4'w</td>
<td>TPAG0504C-A</td>
<td>$732,05</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604R-A</td>
<td class="gray">$609,87</td>
<td> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604C-A</td>
<td class="gray">$777,30</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3>image</td>
<td class="td_space">&nbsp;</td>
<td colspan=3>image</td>
</tr>
</tbody>
</table>
<footer>
    Page 12
</footer>
</body>
</html>