<html>
<head>
<style type="text/css">
{{style}}
td {
    border: 1px solid black;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image17 {
    width: 270%;
}
.image18 {
    width: 200%;
}
.image19 {
    width: 200%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
.first_title_td {
    width: 400px;
}
.second_third_title_td {
    width: 150px;
}

</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>
Driveway Gate Automation</u></b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=4 class="header left first_title_td">Opener Systems</td>
<td colspan="2" class="header second_third_title_td">SKU</td>
<td class="header second_third_title_td">Price</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Single Gate Opener Kit (Medium Duty)</td>
<td colspan="2">TPSW3000XLS</td>
<td>$935,00</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Slave Motor for 3000 Series</td>
<td colspan="2">TPSW3200XLS</td>
<td>$594,00</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Single Gate Opener Kit (Heavy Duty)</td>
<td colspan="2">TPSW4000XLS</td>
<td>$1.360,65</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Slave Motor for 4000 Series</td>
<td colspan="2">TPSW4200XLS</td>
<td>$928,07</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Push to Open Bracket for 3000 Series</td>
<td colspan="2">TPR4388</td>
<td>$59,68</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Transmitters</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO 2-Button Transmitter</td>
<td colspan="2">TPRB742</td>
<td>$38,79</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO 1-Button Transmitter</td>
<td colspan="2">TPRB741</td>
<td>$29,47</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Push Button Doorbell Style Opener</td>
<td colspan="2">TPRB101</td>
<td>$10,04</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Keypads and Intercoms</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Bulldog Pedestrian Gate Lock and Keypad</td>
<td colspan="2">TPFM145</td>
<td>$392,70</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Wired/ Wireless Intercom with Keypad</td>
<td colspan="2">TPFM3100MBC</td>
<td>$435,60</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Addl Intercom Base for TPFM3100MBC</td>
<td colspan="2">TPFM3101MBC</td>
<td>$220,83</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Wired/ Wireless Keypad</td>
<td colspan="2">TPF310</td>
<td>$100,38</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Gooseneck Post for Keypad/ Intercom</td>
<td colspan="2">TPF100</td>
<td>$193,91</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Locks</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Pin Lock</td>
<td colspan="2">TPFM345</td>
<td>$23,42</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Electric Gate Lock</td>
<td colspan="2">TPFM144</td>
<td>$170,49</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Entry/ Exit Sensors</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Vehicle Exit Sensor (50')</td>
<td colspan="2">TPFM139</td>
<td>$200,56</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Wireless Vehicle Exit Sensor</td>
<td colspan="2">TPR4500</td>
<td>$294,53</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Photoelectric Dual Beam Detector</td>
<td colspan="2">TPR4222</td>
<td>$175,95</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Siren Operated Sensor (SOS)</td>
<td colspan="2">TPSOS2510373</td>
<td>$792,00</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Power Accessories</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO 10W Solar Panel Kit</td>
<td colspan="2">TPFM123</td>
<td>$247,45</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Replacement/ Additional Battery</td>
<td colspan="2">TPRB500</td>
<td>$53,55</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Replacement Plug-In Transformer</td>
<td colspan="2">TPRB570</td>
<td>$33,46</td>
</tr>
<tr>
<td colspan=7>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 19
</footer>
</body>
</html>