<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=8>Classic Style Iron Driveway Gates</td>
</tr>
<tr>
<td colspan=8>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=8>* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>
<tr>
<td class="space"> </td>
</tr>
<tr>
<td colspan=4>Single Piece Gates</td>
<td colspan=4 rolspan=9>imagem</td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPSD5610</td>
<td>$1.415,15</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPSD5612</td>
<td>$1.460,80</td>
</tr>
<tr>
<td  colspan=4> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPSD6710</td>
<td>$1.529,28</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPSD6712</td>
<td>$1.574,93</td>
</tr>
<tr>
<td  colspan=4> </td>
</tr>
<tr>
<td colspan=4> </td>
</tr>
<tr>
<td colspan=4>Double Piece Gates</td>
<td colspan=4 rowspan=15>image</td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPDD0565</td>
<td>$1.415,15</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566</td>
<td>$1.460,80</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567</td>
<td>$1.689,05</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568</td>
<td>$1.894,48</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>18' wide</td>
<td>TPDD0569</td>
<td>$2.145,55</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>20' wide</td>
<td>TPDD5610</td>
<td>$2.350,98</td>
</tr>
<tr>
<td colspan=4> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPDD0675</td>
<td>$1.529,28</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676</td>
<td>$1.574,93</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677</td>
<td>$1.826,00</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678</td>
<td>$2.099,90</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>18' wide</td>
<td>TPDD0679</td>
<td>$2.350,98</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>20' wide</td>
<td>TPDD6710</td>
<td>$2.624,88</td>
</tr>
<tr>
<td colspan=8></td>
</tr>
<td>Smooth Top Style Iron Driveway Gates</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Double Piece Gates</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Height</td>
<td>Width</td>
<td>SKU</td>
<td>Price</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566SM</td>
<td>$1.460,80</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567SM</td>
<td>$1.689,05</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td >5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568SM</td>
<td>$1.894,48</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td > </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td >6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676SM</td>
<td>$1.574,93</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td >6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677SM</td>
<td>$1.826,00</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td >6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678SM</td>
<td>$2.099,90</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>
<footer>
    Page 14
</footer>
</body>
</html>