<html>
<head>
<style type="text/css">
{{style}}
body {
     margin-top: 2cm;
}
table {
    border-spacing: 0;
}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.title {
    font-size:24px;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
.image6{
    width: 120%;
}
.image7{
    width: 120%;
    border: 1px solid black;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="page_level left"><b>Classic Style Iron Fence (cont'd)</b></td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Double Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0304-RGD</td>
<td>586,71</td>
<td class="td_space"> </td>
<td>3'h x 8'w</td>
<td>TP0304-CGD</td>
<td>803,29</td>
</tr>
<tr>
<td class="gray">3'h x 10'w</td>
<td class="gray">TP0305-RGD</td>
<td class="gray">606,94</td>
<td class="td_space"> </td>
<td class="gray">3'h x 10'w</td>
<td class="gray">TP0305-CGD</td>
<td class="gray">809,25</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0404-RGD</td>
<td>606,94</td><td class="td_space"> </td><td>4'h x 8'w</td>
<td>TP0404-CGD</td>
<td>849,72</td>
</tr>
<tr>
<td class="gray">4'h x 10'w</td>
<td class="gray">TP0405-RGD</td>
<td class="gray">667,63</td>
<td class="td_space"> </td>
<td class="gray">4'h x 10'w</td>
<td class="gray">TP0405-CGD</td>
<td class="gray">950,87</td>
</tr>
<tr>
<td>4'h x 12'w</td>
<td>TP0406-RGD</td>
<td>768,79</td><td class="td_space"> </td><td>4'h x 12'w</td>
<td>TP0406-CGD</td>
<td>1132,96</td>
</tr>
<tr>
<td class="gray">5'h x 8'w</td>
<td class="gray">TP0504-RGD</td>
<td class="gray">697,98</td>
<td class="td_space"> </td>
<td class="gray">5'h x 8'w</td>
<td class="gray">TP0504-CGD</td>
<td class="gray">981,22</td>
</tr>
<tr>
<td>5'h x 10'w</td>
<td>TP0505-RGD</td>
<td>748,56</td><td class="td_space"> </td><td>5'h x 10'w</td>
<td>TP0505-CGD</td>
<td>1112,72</td>
</tr>
<tr>
<td class="gray">5'h x 12'w</td>
<td class="gray">TP0506-RGD</td>
<td class="gray">869,95</td><td class="td_space"> </td><td class="gray">5'h x 12'w</td>
<td class="gray">TP0506-CGD</td>
<td class="gray">1335,27</td>
</tr>
<tr>
<td>6'h x 8'w</td>
<td>TP0604-RGD</td>
<td>789,02</td><td class="td_space"> </td><td>6'h x 8'w</td>
<td>TP0604-CGD</td>
<td>1183,53</td>
</tr>
<tr>
<td class="gray">6'h x 10'w</td>
<td class="gray">TP0605-RGD</td>
<td class="gray">930,64</td><td class="td_space"> </td><td class="gray">6'h x 10'w</td>
<td class="gray">TP0605-CGD</td>
<td class="gray">1355,5</td>
</tr>
<tr>
<td>6'h x 12'w</td>
<td>TP0606-RGD</td>
<td>1082,38</td><td class="td_space"> </td><td>6'h x 12'w</td>
<td>TP0606-CGD</td>
<td>1507,23</td>
</tr>



<tr>
<td colspan="4" class="title page_level left"><u><b>Pool Style Iron Fence</u></b></td><td colspan="3"><center><img class="image6" src="{{image6}}"></center></td></tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 8'w</td>
<td>TP5008-2R</td>
<td>160,69</td><td class="td_space"> </td><td>50"h x 8'w</td>
<td>TP5008-2C</td>
<td>235,55</td>
</tr>


<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 4'w</td>
<td>TP5004-RG</td>
<td>374,29</td><td class="td_space"> </td><td>50"h x 4'w</td>
<td>TP5004-CG</td>
<td>445,09</td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Double Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 8'w</td>
<td>TP5004-RGD</td>
<td>748,56</td><td class="td_space"> </td><td>50"h x 8'w</td>
<td>TP5004-CGD</td>
<td>890,18</td>
</tr>
<tr>
<td colspan=7><center><img class="image7" src="{{image7}}"></center></td>
</tr>
</tbody>
</table>
<footer>
    Page 6
</footer>
</body>
</html>