<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Driveway Gate Automation</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=4>Opener Systems</td>
<td colspan="2">SKU</td>
<td>Price</td>
</tr>
<tr>
<td colspan=4>Linear PRO Single Gate Opener Kit (Medium Duty)</td>
<td colspan="2">TPSW3000XLS</td>
<td>$935,00</td>
</tr>
<tr>
<td colspan=4>Linear PRO Slave Motor for 3000 Series</td>
<td colspan="2">TPSW3200XLS</td>
<td>$594,00</td>
</tr>
<tr>
<td colspan=4>Linear PRO Single Gate Opener Kit (Heavy Duty)</td>
<td colspan="2">TPSW4000XLS</td>
<td>$1.360,65</td>
</tr>
<tr>
<td colspan=4>Linear PRO Slave Motor for 4000 Series</td>
<td colspan="2">TPSW4200XLS</td>
<td>$928,07</td>
</tr>
<tr>
<td colspan=4>Linear PRO Push to Open Bracket for 3000 Series</td>
<td colspan="2">TPR4388</td>
<td>$59,68</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Transmitters</td>
</tr>
<tr>
<td colspan=4>Linear PRO 2-Button Transmitter</td>
<td colspan="2">TPRB742</td>
<td>$38,79</td>
</tr>
<tr>
<td colspan=4>Linear PRO 1-Button Transmitter</td>
<td colspan="2">TPRB741</td>
<td>$29,47</td>
</tr>
<tr>
<td colspan=4>Linear PRO Push Button Doorbell Style Opener</td>
<td colspan="2">TPRB101</td>
<td>$10,04</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Keypads and Intercoms</td>
</tr>
<tr>
<td colspan=4>Linear PRO Bulldog Pedestrian Gate Lock and Keypad</td>
<td colspan="2">TPFM145</td>
<td>$392,70</td>
</tr>
<tr>
<td colspan=4>Linear PRO Wired/ Wireless Intercom with Keypad</td>
<td colspan="2">TPFM3100MBC</td>
<td>$435,60</td>
</tr>
<tr>
<td colspan=4>Linear PRO Addl Intercom Base for TPFM3100MBC</td>
<td colspan="2">TPFM3101MBC</td>
<td>$220,83</td>
</tr>
<tr>
<td colspan=4>Linear PRO Wired/ Wireless Keypad</td>
<td colspan="2">TPF310</td>
<td>$100,38</td>
</tr>
<tr>
<td colspan=4>Linear PRO Gooseneck Post for Keypad/ Intercom</td>
<td colspan="2">TPF100</td>
<td>$193,91</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Locks</td>
</tr>
<tr>
<td colspan=4>Linear PRO Pin Lock</td>
<td colspan="2">TPFM345</td>
<td>$23,42</td>
</tr>
<tr>
<td colspan=4>Linear PRO Electric Gate Lock</td>
<td colspan="2">TPFM144</td>
<td>$170,49</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Entry/ Exit Sensors</td>
</tr>
<tr>
<td colspan=4>Linear PRO Vehicle Exit Sensor (50')</td>
<td colspan="2">TPFM139</td>
<td>$200,56</td>
</tr>
<tr>
<td colspan=4>Linear PRO Wireless Vehicle Exit Sensor</td>
<td colspan="2">TPR4500</td>
<td>$294,53</td>
</tr>
<tr>
<td colspan=4>Linear PRO Photoelectric Dual Beam Detector</td>
<td colspan="2">TPR4222</td>
<td>$175,95</td>
</tr>
<tr>
<td colspan=4>Linear PRO Siren Operated Sensor (SOS)</td>
<td colspan="2">TPSOS2510373</td>
<td>$792,00</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Power Accessories</td>
</tr>
<tr>
<td colspan=4>Linear PRO 10W Solar Panel Kit</td>
<td colspan="2">TPFM123</td>
<td>$247,45</td>
</tr>
<tr>
<td colspan=4>Linear PRO Replacement/ Additional Battery</td>
<td colspan="2">TPRB500</td>
<td>$53,55</td>
</tr>
<tr>
<td colspan=4>Linear PRO Replacement Plug-In Transformer</td>
<td colspan="2">TPRB570</td>
<td>$33,46</td>
</tr>
<tr>
<td colspan=7>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 19
</footer>
</body>
</html>