<html>
<head>
<style type="text/css">
{{style}}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image12 {
    width: 200%;
}
.image13 {
    width: 200%;
}
.image14 {
    width: 400%;
}
.tr_image14 {
    padding-top: 20px;
}
.title {
    font-size:24px;
}
</style>
</head>
<body>
<table>
<tbody>

<tr>
<td colspan=7 class="title page_level left"><b><u>Classic Style Iron Driveway Gates</u></b></td>
</tr>
<tr>
<td colspan=7 class="left">* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </td>
</tr>
<tr>
<td colspan=7 class="left">* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>

<tr>
<td colspan=7 class="second_title left">Single Piece Gates</td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td colspan=2 rowspan=5><center><img class="image12" src="{{image12}}"></center></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPSD5610</td>
<td>1415,15</td></tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPSD5612</td>
<td class="gray">1460,8</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPSD6710</td>
<td>1529,28</td></tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPSD6712</td>
<td class="gray">1574,93</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td> </td>
</tr>
<tr>
<td class="second_title left" colspan=7>Double Piece Gates</td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td colspan=2 rowspan=13><center><img class="image13" src="{{image13}}"></center></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPDD0565</td>
<td>1415,15</td></tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPDD0566</td>
<td class="gray">1460,8</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567</td>
<td>1689,05</td></tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">16' wide</td>
<td class="gray">TPDD0568</td>
<td class="gray">1894,48</td></tr>
<tr>
<td>5' to 6' Arch</td>
<td>18' wide</td>
<td>TPDD0569</td>
<td>2145,55</td></tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">20' wide</td>
<td class="gray">TPDD5610</td>
<td class="gray">2350,98</td></tr>
<tr>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPDD0675</td>
<td>1529,28</td></tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPDD0676</td>
<td class="gray">1574,93</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677</td>
<td>1826</td></tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">16' wide</td>
<td class="gray">TPDD0678</td>
<td class="gray">2099,9</td></tr>
<tr>
<td>6' to 7' Arch</td>
<td>18' wide</td>
<td>TPDD0679</td>
<td>2350,98</td></tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">20' wide</td>
<td class="gray">TPDD6710</td>
<td class="gray">2624,88</td></tr>

<tr>
<td colspan=7 class="tr_image14">
<center><img class="image14 border" src="{{image14}}"></center>
</td>
</tr>
</tbody>
</table>
<footer>
    Page 8
</footer>
</body>
</html>