<html>
<head>
<style type="text/css">
{{style}}
body {
     margin-top: 1.5cm;
}
.image3 {
    width: 40%;
}
.title {
    font-size:24px;
}
.td_space {
    width: 20px;
}
td {
    width: 100px;
    text-align: center;
}
.left {
    text-align: left;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="left"><strong><u>Stronghold Iron&reg;</u></strong></td>
</tr>
<tr>
<td colspan=7 class="left">* Iron fence prices do not include brackets and self-tapping screws required for mounting (see Iron Hardware section) </td>
</tr>
<tr>
<td colspan=7 class="left">* Iron walk gate prices do not include hinge and latch hardware (see Gate Hardware section)</td>
</tr>

<tr>
<td colspan="4" class="title page_level left"><u><b>Classic Style Iron Fence</b></u></td><td colspan="3"><center><img class="image3" src="{{image3}}"></center></td>
</tr>

<tr>
<td colspan="3">Traditional Grade Fence Panels</td><td class="td_space"> </td><td colspan="3">Signature Grade Fence Panels</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td class="td_space"> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0308-2R</td>
<td>171,97</td>
<td class="td_space"> </td>
<td>3'h x 8'w</td>
<td>TP0308-2C</td>
<td>257,95</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0408-2R</td>
<td>184,61</td>
<td class="td_space"> </td>
<td>4'h x 8'w</td>
<td>TP0408-2C</td>
<td>270,6</td>
</tr>
<tr>
<td>5'h x 8'w</td>
<td>TP0508-2R</td>
<td>212,43</td>
<td class="td_space"> </td>
<td>5'h x 8'w</td>
<td>TP0508-2C</td>
<td>285,77</td>
</tr>
<tr>
<td>6'h x 8'w</td>
<td>TP0608-3R</td>
<td>268,07</td>
<td class="td_space"> </td>
<td>6'h x 8'w</td>
<td>TP0608-3C</td>
<td>379,34</td>
</tr>


<tr>
<td colspan=4> </td><td colspan=3>Signature</td>
</tr>
<tr>
<td colspan=4> </td><td>4' to 5' Arch</td>
<td>TPGW448</td>
<td>260,22</td>
</tr>
<tr>
<td colspan=4> </td><td>5' to 6' Arch</td>
<td>TPGW548</td>
<td>339,41</td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3">Traditional Grade Single Gates</td><td class="td_space"> </td><td colspan="3">Signature Grade Single Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td class="td_space"> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304-RG</td>
<td>293,36</td>
<td class="td_space"> </td>
<td>3'h x 4'w</td>
<td>TP0304-CG</td>
<td>401,65</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TP0305-RG</td>
<td>303,47</td>
<td class="td_space"> </td>
<td>3'h x 5'w</td>
<td>TP0305-CG</td>
<td>404,62</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TP0404-RG</td>
<td>303,47</td>
<td class="td_space"> </td>
<td>4'h x 4'w</td>
<td>TP0404-CG</td>
<td>424,86</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TP0405-RG</td>
<td>333,82</td>
<td class="td_space"> </td>
<td>4'h x 5'w</td>
<td>TP0405-CG</td>
<td>475,44</td>
</tr>
<tr>
<td>4'h x 6'w</td>
<td>TP0406-RG</td>
<td>384,4</td>
<td class="td_space"> </td>
<td>4'h x 6'w</td>
<td>TP0406-CG</td>
<td>566,48</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RG</td>
<td>349</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CG</td>
<td>490,61</td>
</tr>
<tr>
<td>5'h x 5'w</td>
<td>TP0505-RG</td>
<td>374,29</td>
<td class="td_space"> </td>
<td>5'h x 5'w</td>
<td>TP0505-CG</td>
<td>556,36</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TP0506-RG</td>
<td>434,97</td>
<td class="td_space"> </td>
<td>5'h x 6'w</td>
<td>TP0506-CG</td>
<td>667,63</td>
</tr>
<tr>
<td>6'h x 4'w</td>
<td>TP0604-RG</td>
<td>394,52</td>
<td class="td_space"> </td>
<td>6'h x 4'w</td>
<td>TP0604-CG</td>
<td>591,77</td>
</tr>
<tr>
<td>6'h x 5'w</td>
<td>TP0605-RG</td>
<td>465,32</td>
<td class="td_space"> </td>
<td>6'h x 5'w</td>
<td>TP0605-CG</td>
<td>677,75</td>
</tr>
<tr>
<td>6'h x 6'w</td>
<td>TP0606-RG</td>
<td>541,19</td>
<td class="td_space"> </td>
<td>6'h x 6'w</td>
<td>TP0606-CG</td>
<td>753,62</td>
</tr>


<tr>
<td colspan="3">Traditional Grade Arched Gates</td><td class="td_space"> </td><td colspan="3">Signature Grade Arched Gates</td>
</tr>
<tr>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
<td class="td_space"> </td>
<td>Size</td>
<td>SKU</td>
<td>Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304-RGA</td>
<td>459,73</td>
<td class="td_space"> </td>
<td>3'h x 4'w</td>
<td>TP0304-CGA</td>
<td>568,03</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TP0404-RGA</td>
<td>469,84</td>
<td class="td_space"> </td>
<td>4'h x 4'w</td>
<td>TP0404-CGA</td>
<td>591,24</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RGA</td>
<td>515,37</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CGA</td>
<td>656,99</td>
</tr>
<tr>
<td>6'h x 4'w</td>
<td>TP0604-RGA</td>
<td>560,89</td>
<td class="td_space"> </td>
<td>6'h x 4'w</td>
<td>TP0604-CGA</td>
<td>758,14</td>
</tr>
<tr>
<td colspan=3>
imagem 2
</td>
<td class="td_space"> </td>
<td colspan=3>
imagem 3
</td>
</tr>
</tbody>
</table>
<footer>
    Page 5
</footer>
</body>
</html>