<html>
<head>
<style type="text/css">
{{style}}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7>Infinity Aluminum Fence and Gate Posts</td>
</tr>
<tr>
<td colspan=7>* Post prices do not include post cap (see Aluminum Hardware section for options)</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7>Traditional Grade Posts</td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>Fence</td>
<td>SKU</td>
<td>Post Size</td>
<td>Length</td>
<td>Thickness</td>
<td>Type</td>
<td>Price</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3606LR</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.060"</td>
<td>Line</td>
<td>$33,95</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3606ER</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.060"</td>
<td>End</td>
<td>$33,95</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3606CR</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>$33,95</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3612ER</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.125"</td>
<td>Gate End</td>
<td>$55,42</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3612R</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>$83,72</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4606LR</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.060"</td>
<td>Line</td>
<td>$36,21</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4606ER</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.060"</td>
<td>End</td>
<td>$36,21</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4606CR</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.060"</td>
<td>Corner</td>
<td>$36,21</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4612ER</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.125"</td>
<td>Gate End</td>
<td>$58,84</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4612R</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.125"</td>
<td>Blank</td>
<td>$83,72</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5406LR</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.060"</td>
<td>Line</td>
<td>$39,59</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5406ER</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.060"</td>
<td>End</td>
<td>$39,59</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5406CR</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>$39,59</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5412ER</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.125"</td>
<td>Gate End</td>
<td>$64,47</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5412R</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>$83,72</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5606LR</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.060"</td>
<td>Line</td>
<td>$43,00</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5606ER</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.060"</td>
<td>End</td>
<td>$43,00</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5606CR</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.060"</td>
<td>Corner</td>
<td>$43,00</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5612ER</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.125"</td>
<td>Gate End</td>
<td>$69,00</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5612R</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.125"</td>
<td>Blank</td>
<td>$83,72</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6606LR</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.060"</td>
<td>Line</td>
<td>$52,05</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6606ER</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.060"</td>
<td>End</td>
<td>$52,05</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6606CR</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>$52,05</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6612ER</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.125"</td>
<td>Gate End</td>
<td>$83,72</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6612R</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>$83,72</td>
</tr>
<tr>
<td colspan=7>imagem</td>
</tr>
</tbody>
</table>
<footer>
    Page 15
</footer>
</body>
</html>