<style type="text/css">
    h1 {
        text-transform:uppercase;
        text-align:center;
        font-size:24px;
    }
    h2 {
        font-size:20px;
    }
    h3 {
        font-size:18px;
    }
    h4 {
        font-size:16px;
    }
    .page_break {
        page-break-before: always;
    }
</style><img src="{{imagePath}}/pdf-000.jpg">
<h1>Price Catalog</h1>
{{version}}
<div class="page_break"></div>
<h4>A few details about this catalog, product info & getting a quote...</h4>
<p>This price catalog has all of our in-stock items and prices listed throughout. We also offer
custom styles and services if there is something you don't see in the catalog. Email us at:
sales@ironfenceshop.com to inquire about your custom project.</p>
<p>If you are looking for more information about our products or installation, you can visit our
YouTube channel by typing "Iron Fence Shop" into the search bar at www.youtube.com.</p>
<p>You can also visit our Knowledge Center on www.ironfenceshop.com to view our installation
manuals, installed project photos, CAD renderings of all panels and gates and spec sheets along
with lots of other helpful information including our blog. To find the Knowledge Center, just
look for 'Knowledge Center' at the top of the homepage and you'll see a dropdown menu.</p>
<p>While you can use this catalog for per part pricing; we like to speak to each person about their
project. Once you are ready to get a quote or order, send us a layout sketch or materials list and
we will put together an itemized quote for you detailing all the parts required and shipping cost.
Sending us a simple layout sketch is the best way for us to make sure your order is 100% accurate!</p>
<p>If you have any questions about our prices, products or process; feel free to call us at
800-261-2729 or send an email to sales@ironfenceshop.com. We are here to help!</p>
<img src="{{imagePath}}/pdf-004.jpg"><div class="page_break"></div>
<table>
<tbody>
<tr>
<td><strong><span>Stronghold Iron&reg;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><strong><span>Classic Style Fence&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;..&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><span>Transition Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><span>Arched Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.5</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.6</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Pool Style Fence&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.6</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.6</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.6</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.6</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Puppy Picket Style Fence&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>Single and Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Hoop and Picket Style Fence&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>Single and Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.7</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Classic Style Driveway Gates&hellip;.......................................</span></strong></td><td><span>PG.8</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.8</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.8</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Smooth Top Style Driveway Gates&hellip;......................................</span></strong></td><td><span>PG.9</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.9</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Rings Puppy Picket Style Driveway Gates&hellip;...........................</span></strong></td><td><span>PG.9</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.9</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Fence and Gate Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.10</span></td>
</tr>
<tr>
<td><span>Standard Iron Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></td><td><span>PG.10</span></td>
</tr>
<tr>
<td><span>Iron Flange Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.10</span></td>
</tr>
<tr>
<td><span>Iron Driveway Gate Posts&hellip;&hellip;..</span></td><td><span>PG.10</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><strong><span>Iron Fence and Gate Hardware&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td><td><span>PG.11</span></td>
</tr>
<tr>
<td><span>Iron Post Caps&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.11</span></td>
</tr>
<tr>
<td><span>Iron Brackets&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.11</span></td>
</tr>
<tr>
<td><span>Iron Screws&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.11</span></td>
</tr>
<tr>
<td><strong><span>Infinity Aluminum&reg;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td><td><span>PG.12</span></td>
</tr>
<tr>
<td><strong><span>Classic Style Fence&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;..&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.12</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.12</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.12</span></td>
</tr>
<tr>
<td><span>Arched Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.12</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.13</span></td>
</tr>
<tr>
<td><strong><span>Pool Style Fence&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.13</span></td>
</tr>
<tr>
<td><span>Fence Panels&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.13</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.13</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.13</span></td>
</tr>
<tr>
<td><strong><span>Classic Style Driveway Gates&hellip;......................................</span></strong></td><td><span>PG.14</span></td>
</tr>
<tr>
<td><span>Single Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.14</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.14</span></td>
</tr>
<tr>
<td><strong><span>Smooth Top Style Driveway Gates&hellip;......................................</span></strong></td><td><span>PG.14</span></td>
</tr>
<tr>
<td><span>Double Gates&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.14</span></td>
</tr>
<tr>
<td><strong><span>Fence and Gate Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></strong></td><td><span>PG.15</span></td>
</tr>
<tr>
<td><span>Traditional Aluminum Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></td><td><span>PG.15</span></td>
</tr>
<tr>
<td><span>Signature Aluminum Posts&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></td><td><span>PG.16</span></td>
</tr>
<tr>
<td><span>Alum. Driveway Gate Posts&hellip;&hellip;..</span></td><td><span>PG.16</span></td>
</tr>
<tr>
<td><strong><span>Aluminum Fence and Gate Hardware&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><span>Aluminum Post Caps&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><span>Aluminum Post Flanges&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><span>Aluminum Brackets&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><span>Aluminum Screws&hellip;&hellip;&hellip;.&hellip;..&hellip;&hellip;&hellip;..</span></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><span>Aluminum Post Flanges&hellip;&hellip;&hellip;</span></td><td><span>PG.17</span></td>
</tr>
<tr>
<td><strong><span>Gate Hinge and Latch Hardware..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td><td><span>PG.18</span></td>
</tr>
<tr>
<td><span>Hinges&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></td><td><span>PG.18</span></td>
</tr>
<tr>
<td><span>Latches&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;....&hellip;..&hellip;</span></td><td><span>PG.18</span></td>
</tr>
<tr>
<td><span>Drop Rods&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;</span></td><td><span>PG.18</span></td>
</tr>
<tr>
<td><strong><span>Driveway Gate Automation&hellip;...................................................................................................</span></strong></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Opener Systems&hellip;..................................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Transmitters&hellip;.................................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Keypads and Intercoms&hellip;...............................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Locks&hellip;.........................................................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Entry/ Exit Sensors&hellip;.........................................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><span>Power Accessories&hellip;..........................................</span></td><td><span>PG.19</span></td>
</tr>
<tr>
<td><strong><span>Add-On Decorations&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></strong></td>
<td><span>PG.20</span></td>
</tr>
<tr>
<td><span>Individual Decorations&hellip;&hellip;..</span></td><td><span>PG.20</span></td>
</tr>
<tr>
<td><span>Decorations by the Panel&hellip;&hellip;.</span></td><td><span>PG.20</span></td>
</tr>
<tr>
<td><strong><u><span>Stronghold Iron&reg;</span></u></strong></td>
</tr>
<tr>
<td><span>* Iron fence prices do not include brackets and self-tapping screws required for mounting (see Iron Hardware section) </span></td>
</tr>
<tr>
<td><span>* Iron walk gate prices do not include hinge and latch hardware (see Gate Hardware section)</span></td>
</tr>
</tbody>
</table>
<div class="page_break"></div>
<!-- content -->
<table>
<tbody>
<tr>
<td colspan="4" rowspan="4"><span>Classic Style Iron Fence</span></td></tr>
<tr></tr>
<tr></tr>
<tr></tr>

<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td><td colspan="3"><span>Signature Grade Fence Panels</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 8'w</span></td>
<td><span>TP0308-2R</span></td>
<td><span>171,97</span></td><td><span>3'h x 8'w</span></td>
<td><span>TP0308-2C</span></td>
<td><span>257,95</span></td>
</tr>
<tr>
<td><span>4'h x 8'w</span></td>
<td><span>TP0408-2R</span></td>
<td><span>184,61</span></td><td><span>4'h x 8'w</span></td>
<td><span>TP0408-2C</span></td>
<td><span>270,6</span></td>
</tr>
<tr>
<td><span>5'h x 8'w</span></td>
<td><span>TP0508-2R</span></td>
<td><span>212,43</span></td><td><span>5'h x 8'w</span></td>
<td><span>TP0508-2C</span></td>
<td><span>285,77</span></td>
</tr>
<tr>
<td><span>6'h x 8'w</span></td>
<td><span>TP0608-3R</span></td>
<td><span>268,07</span></td><td><span>6'h x 8'w</span></td>
<td><span>TP0608-3C</span></td>
<td><span>379,34</span></td>
</tr>

<tr>
<td><span>&nbsp;</span></td><td><span>Signature Grade Transition Panels</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td><td><span>4' to 5' Arch</span></td>
<td><span>TPGW448</span></td>
<td><span>260,22</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td><td><span>5' to 6' Arch</span></td>
<td><span>TPGW548</span></td>
<td><span>339,41</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td><td colspan="3"><span>Signature Grade Single Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 4'w</span></td>
<td><span>TP0304-RG</span></td>
<td><span>293,36</span></td><td><span>3'h x 4'w</span></td>
<td><span>TP0304-CG</span></td>
<td><span>401,65</span></td>
</tr>
<tr>
<td><span>3'h x 5'w</span></td>
<td><span>TP0305-RG</span></td>
<td><span>303,47</span></td><td><span>3'h x 5'w</span></td>
<td><span>TP0305-CG</span></td>
<td><span>404,62</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TP0404-RG</span></td>
<td><span>303,47</span></td><td><span>4'h x 4'w</span></td>
<td><span>TP0404-CG</span></td>
<td><span>424,86</span></td>
</tr>
<tr>
<td><span>4'h x 5'w</span></td>
<td><span>TP0405-RG</span></td>
<td><span>333,82</span></td><td><span>4'h x 5'w</span></td>
<td><span>TP0405-CG</span></td>
<td><span>475,44</span></td>
</tr>
<tr>
<td><span>4'h x 6'w</span></td>
<td><span>TP0406-RG</span></td>
<td><span>384,4</span></td><td><span>4'h x 6'w</span></td>
<td><span>TP0406-CG</span></td>
<td><span>566,48</span></td>
</tr>
<tr>
<td><span>5'h x 4'w</span></td>
<td><span>TP0504-RG</span></td>
<td><span>349</span></td><td><span>5'h x 4'w</span></td>
<td><span>TP0504-CG</span></td>
<td><span>490,61</span></td>
</tr>
<tr>
<td><span>5'h x 5'w</span></td>
<td><span>TP0505-RG</span></td>
<td><span>374,29</span></td><td><span>5'h x 5'w</span></td>
<td><span>TP0505-CG</span></td>
<td><span>556,36</span></td>
</tr>
<tr>
<td><span>5'h x 6'w</span></td>
<td><span>TP0506-RG</span></td>
<td><span>434,97</span></td><td><span>5'h x 6'w</span></td>
<td><span>TP0506-CG</span></td>
<td><span>667,63</span></td>
</tr>
<tr>
<td><span>6'h x 4'w</span></td>
<td><span>TP0604-RG</span></td>
<td><span>394,52</span></td><td><span>6'h x 4'w</span></td>
<td><span>TP0604-CG</span></td>
<td><span>591,77</span></td>
</tr>
<tr>
<td><span>6'h x 5'w</span></td>
<td><span>TP0605-RG</span></td>
<td><span>465,32</span></td><td><span>6'h x 5'w</span></td>
<td><span>TP0605-CG</span></td>
<td><span>677,75</span></td>
</tr>
<tr>
<td><span>6'h x 6'w</span></td>
<td><span>TP0606-RG</span></td>
<td><span>541,19</span></td><td><span>6'h x 6'w</span></td>
<td><span>TP0606-CG</span></td>
<td><span>753,62</span></td>
</tr>


<tr>
<td colspan="3"><span>Traditional Grade Arched Gates</span></td><td colspan="3"><span>Signature Grade Arched Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 4'w</span></td>
<td><span>TP0304-RGA</span></td>
<td><span>459,73</span></td><td><span>3'h x 4'w</span></td>
<td><span>TP0304-CGA</span></td>
<td><span>568,03</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TP0404-RGA</span></td>
<td><span>469,84</span></td><td><span>4'h x 4'w</span></td>
<td><span>TP0404-CGA</span></td>
<td><span>591,24</span></td>
</tr>
<tr>
<td><span>5'h x 4'w</span></td>
<td><span>TP0504-RGA</span></td>
<td><span>515,37</span></td><td><span>5'h x 4'w</span></td>
<td><span>TP0504-CGA</span></td>
<td><span>656,99</span></td>
</tr>
<tr>
<td><span>6'h x 4'w</span></td>
<td><span>TP0604-RGA</span></td>
<td><span>560,89</span></td><td><span>6'h x 4'w</span></td>
<td><span>TP0604-CGA</span></td>
<td><span>758,14</span></td>
</tr>











<tr>
<td><span>Classic Style Iron Fence (cont'd)</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Double Gates</span></td><td colspan="3"><span>Signature Grade Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 8'w</span></td>
<td><span>TP0304-RGD</span></td>
<td><span>586,71</span></td><td><span>3'h x 8'w</span></td>
<td><span>TP0304-CGD</span></td>
<td><span>803,29</span></td>
</tr>
<tr>
<td><span>3'h x 10'w</span></td>
<td><span>TP0305-RGD</span></td>
<td><span>606,94</span></td><td><span>3'h x 10'w</span></td>
<td><span>TP0305-CGD</span></td>
<td><span>809,25</span></td>
</tr>
<tr>
<td><span>4'h x 8'w</span></td>
<td><span>TP0404-RGD</span></td>
<td><span>606,94</span></td><td><span>4'h x 8'w</span></td>
<td><span>TP0404-CGD</span></td>
<td><span>849,72</span></td>
</tr>
<tr>
<td><span>4'h x 10'w</span></td>
<td><span>TP0405-RGD</span></td>
<td><span>667,63</span></td><td><span>4'h x 10'w</span></td>
<td><span>TP0405-CGD</span></td>
<td><span>950,87</span></td>
</tr>
<tr>
<td><span>4'h x 12'w</span></td>
<td><span>TP0406-RGD</span></td>
<td><span>768,79</span></td><td><span>4'h x 12'w</span></td>
<td><span>TP0406-CGD</span></td>
<td><span>1132,96</span></td>
</tr>
<tr>
<td><span>5'h x 8'w</span></td>
<td><span>TP0504-RGD</span></td>
<td><span>697,98</span></td><td><span>5'h x 8'w</span></td>
<td><span>TP0504-CGD</span></td>
<td><span>981,22</span></td>
</tr>
<tr>
<td><span>5'h x 10'w</span></td>
<td><span>TP0505-RGD</span></td>
<td><span>748,56</span></td><td><span>5'h x 10'w</span></td>
<td><span>TP0505-CGD</span></td>
<td><span>1112,72</span></td>
</tr>
<tr>
<td><span>5'h x 12'w</span></td>
<td><span>TP0506-RGD</span></td>
<td><span>869,95</span></td><td><span>5'h x 12'w</span></td>
<td><span>TP0506-CGD</span></td>
<td><span>1335,27</span></td>
</tr>
<tr>
<td><span>6'h x 8'w</span></td>
<td><span>TP0604-RGD</span></td>
<td><span>789,02</span></td><td><span>6'h x 8'w</span></td>
<td><span>TP0604-CGD</span></td>
<td><span>1183,53</span></td>
</tr>
<tr>
<td><span>6'h x 10'w</span></td>
<td><span>TP0605-RGD</span></td>
<td><span>930,64</span></td><td><span>6'h x 10'w</span></td>
<td><span>TP0605-CGD</span></td>
<td><span>1355,5</span></td>
</tr>
<tr>
<td><span>6'h x 12'w</span></td>
<td><span>TP0606-RGD</span></td>
<td><span>1082,38</span></td><td><span>6'h x 12'w</span></td>
<td><span>TP0606-CGD</span></td>
<td><span>1507,23</span></td>
</tr>



<tr>
<td colspan="4" rowspan="4"><span>Pool Style Iron Fence</span></td></tr>
<tr></tr>
<tr></tr>
<tr></tr>

<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td><td colspan="3"><span>Signature Grade Fence Panels</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>50"h x 8'w</span></td>
<td><span>TP5008-2R</span></td>
<td><span>160,69</span></td><td><span>50"h x 8'w</span></td>
<td><span>TP5008-2C</span></td>
<td><span>235,55</span></td>
</tr>


<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td><td colspan="3"><span>Signature Grade Single Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>50"h x 4'w</span></td>
<td><span>TP5004-RG</span></td>
<td><span>374,29</span></td><td><span>50"h x 4'w</span></td>
<td><span>TP5004-CG</span></td>
<td><span>445,09</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Double Gates</span></td><td colspan="3"><span>Signature Grade Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>50"h x 8'w</span></td>
<td><span>TP5004-RGD</span></td>
<td><span>748,56</span></td><td><span>50"h x 8'w</span></td>
<td><span>TP5004-CGD</span></td>
<td><span>890,18</span></td>
</tr>














<tr>
<td colspan="5" rowspan="4"><span>Puppy Picket Style Iron Fence</span></td>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>4'h x 8'w</span></td>
<td><span>TP0408PPR</span></td>
<td><span>235,29</span></td>
</tr>
<tr>
<td><span>5'h x 8'w</span></td>
<td><span>TP0508PPR</span></td>
<td><span>269,95</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td><td colspan="3"><span>Traditional Grade Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TPG44PPR</span></td>
<td><span>479,16</span></td><td><span>4'h x 8'w</span></td>
<td><span>TPG44PPRD</span></td>
<td><span>958,32</span></td>
</tr>
<tr>
<td><span>4'h x 5'w</span></td>
<td><span>TPG45PPR</span></td>
<td><span>532,4</span></td><td><span>4'h x 10'w</span></td>
<td><span>TPG45PPRD</span></td>
<td><span>1064,8</span></td>
</tr>
<tr>
<td><span>5'h x 4'w</span></td>
<td><span>TPG54PPR</span></td>
<td><span>559,02</span></td><td><span>5'h x 8'w</span></td>
<td><span>TPG54PPRD</span></td>
<td><span>1118,04</span></td>
</tr>
<tr>
<td><span>5'h x 5'w</span></td>
<td><span>TPG55PPR</span></td>
<td><span>612,26</span></td><td><span>5'h x 10'w</span></td>
<td><span>TPG55PPRD</span></td>
<td><span>1224,52</span></td>
</tr>


<tr>
<td colspan="5" rowspan="5"><span>Hoop and Picket Style Iron Fence</span></td>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 8'w</span></td>
<td><span>TP0308HP</span></td>
<td><span>193,51</span></td>
</tr>
<tr>
<td><span>4'h x 8'w</span></td>
<td><span>TP0408HP</span></td>
<td><span>207,68</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td><td colspan="3"><span>Traditional Grade Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 4'w</span></td>
<td><span>TP0304HPG</span></td>
<td><span>320,86</span></td><td><span>3'h x 8'w</span></td>
<td><span>TP0304HPGD</span></td>
<td><span>641,72</span></td>
</tr>
<tr>
<td><span>3'h x 5'w</span></td>
<td><span>TP0305HPG</span></td>
<td><span>330,97</span></td><td><span>3'h x 10'w</span></td>
<td><span>TP0305HPGD</span></td>
<td><span>661,94</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TP0404HPG</span></td>
<td><span>330,97</span></td><td><span>4'h x 8'w</span></td>
<td><span>TP0404HPGD</span></td>
<td><span>661,94</span></td>
</tr>
<tr>
<td><span>4'h x 5'w</span></td>
<td><span>TP0405HPG</span></td>
<td><span>361,32</span></td><td><span>4'h x 10'w</span></td>
<td><span>TP0405HPGD</span></td>
<td><span>722,63</span></td>
</tr>

<tr>
<td><span>Classic Style Iron Driveway Gates</span></td>
</tr>
<tr>
<td><span>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </span></td>
</tr>
<tr>
<td><span>* Optional automated gate opener systems available (see Gaet Automation section for options)</span></td>
</tr>

<tr>
<td><span>Single Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPSD5610</span></td>
<td><span>1415,15</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPSD5612</span></td>
<td><span>1460,8</span></td></tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPSD6710</span></td>
<td><span>1529,28</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPSD6712</span></td>
<td><span>1574,93</span></td></tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>Double Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPDD0565</span></td>
<td><span>1415,15</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0566</span></td>
<td><span>1460,8</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0567</span></td>
<td><span>1689,05</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0568</span></td>
<td><span>1894,48</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>18' wide</span></td>
<td><span>TPDD0569</span></td>
<td><span>2145,55</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>20' wide</span></td>
<td><span>TPDD5610</span></td>
<td><span>2350,98</span></td></tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPDD0675</span></td>
<td><span>1529,28</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0676</span></td>
<td><span>1574,93</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0677</span></td>
<td><span>1826</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0678</span></td>
<td><span>2099,9</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>18' wide</span></td>
<td><span>TPDD0679</span></td>
<td><span>2350,98</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>20' wide</span></td>
<td><span>TPDD6710</span></td>
<td><span>2624,88</span></td></tr>

<td><span>Smooth Top Style Iron Driveway Gates</span></td>
</tr>
<tr>
<td><span>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </span></td>
</tr>
<tr>
<td><span>* Optional automated gate opener systems available (see Gaet Automation section for options)</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td><span>Double Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0566SM</span></td>
<td><span>1460,8</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0567SM</span></td>
<td><span>1689,05</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0568SM</span></td>
<td><span>1894,48</span></td></tr>

<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0676SM</span></td>
<td><span>1574,93</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0677SM</span></td>
<td><span>1826</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0678SM</span></td>
<td><span>2099,9</span></td></tr>

<tr>
<td><span>Rings Puppy Picket Style Iron Driveway Gates</span></td>
</tr>
<tr>
<td><span>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </span></td>
</tr>
<tr>
<td><span>* Optional automated gate opener systems available (see Gate Automation section for options)</span></td>
</tr>

<tr>
<td><span>Double Piece Gates</span></td>
</tr>

<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD676DPR</span></td>
<td><span>2288,56</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD677DPR</span></td>
<td><span>2580,75</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD678DPR</span></td>
<td><span>2944,98</span></td></tr>

<tr>
<td><span>Stronghold Iron Fence and Gate Posts</span></td>
</tr>
<tr>
<td><span>* Post prices do not include post cap (see Iron Hardware section for options) </span></td>
</tr>

<tr>
<td><span>Standard Posts</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>14ga</span></td>
<td><span>TP2205</span></td>
<td><span>34,12</span></td>
</tr>
<tr>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>14ga</span></td>
<td><span>TP2206</span></td>
<td><span>37,3</span></td>
</tr>
<tr>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>14ga</span></td>
<td><span>TP2207</span></td>
<td><span>44,24</span></td>
</tr>
<tr>
<td><span>2" x 2"</span></td>
<td><span>8'</span></td>
<td><span>14ga</span></td>
<td><span>TP2208</span></td>
<td><span>48,68</span></td>
</tr>
<tr>
<td><span>2" x 2"</span></td>
<td><span>9'</span></td>
<td><span>14ga</span></td>
<td><span>TP2209</span></td>
<td><span>63,84</span></td>
</tr>

<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>14ga</span></td>
<td><span>TP252506</span></td>
<td><span>45,53</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>14ga</span></td>
<td><span>TP252507</span></td>
<td><span>55,64</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>8'</span></td>
<td><span>14ga</span></td>
<td><span>TP252508</span></td>
<td><span>67</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>9'</span></td>
<td><span>14ga</span></td>
<td><span>TP252509</span></td>
<td><span>74,59</span></td>
</tr>

<tr>
<td><span>3" x 3"</span></td>
<td><span>5'</span></td>
<td><span>14ga</span></td>
<td><span>TP3305</span></td>
<td><span>53,11</span></td>
</tr>
<tr>
<td><span>3" x 3"</span></td>
<td><span>6'</span></td>
<td><span>14ga</span></td>
<td><span>TP3306</span></td>
<td><span>61,31</span></td>
</tr>
<tr>
<td><span>3" x 3"</span></td>
<td><span>7'</span></td>
<td><span>14ga</span></td>
<td><span>TP3307</span></td>
<td><span>73,35</span></td>
</tr>
<tr>
<td><span>3" x 3"</span></td>
<td><span>8'</span></td>
<td><span>14ga</span></td>
<td><span>TP3308</span></td>
<td><span>84,07</span></td>
</tr>
<tr>
<td><span>3" x 3"</span></td>
<td><span>9'</span></td>
<td><span>14ga</span></td>
<td><span>TP3309</span></td>
<td><span>91,66</span></td>
</tr>

<tr>
<td><span>4" x 4"</span></td>
<td><span>7'</span></td>
<td><span>14ga</span></td>
<td><span>TP44714</span></td>
<td><span>124,53</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>8'</span></td>
<td><span>14ga</span></td>
<td><span>TP44814</span></td>
<td><span>132,76</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>9'</span></td>
<td><span>14ga</span></td>
<td><span>TP44914</span></td>
<td><span>151,73</span></td>
</tr>

<tr>
<td><span>Flange Posts</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>3'</span></td>
<td><span>14ga</span></td>
<td><span>TPPFL253</span></td>
<td><span>37,94</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>4'</span></td>
<td><span>14ga</span></td>
<td><span>TPPFL254</span></td>
<td><span>41,71</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>14ga</span></td>
<td><span>TPPFL255</span></td>
<td><span>50,58</span></td>
</tr>
<tr>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>14ga</span></td>
<td><span>TPPFL256</span></td>
<td><span>59,41</span></td>
</tr>


<tr>
<td><span>Driveway Gate Posts</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>8'</span></td>
<td><span>7ga</span></td>
<td><span>TP4408</span></td>
<td><span>252,89</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>9'</span></td>
<td><span>7ga</span></td>
<td><span>TP4409</span></td>
<td><span>278,18</span></td>
</tr>
<tr>
<td><span>6" x 6"</span></td>
<td><span>8'</span></td>
<td><span>7ga</span></td>
<td><span>TP6608</span></td>
<td><span>391,99</span></td>
</tr>
<tr>
<td><span>6" x 6"</span></td>
<td><span>9'</span></td>
<td><span>7ga</span></td>
<td><span>TP6609</span></td>
<td><span>417,27</span></td>
</tr>
<tr>
<td><span>6" x 6"</span></td>
<td><span>10'</span></td>
<td><span>7ga</span></td>
<td><span>TP66010</span></td>
<td><span>475,17</span></td>
</tr>

<tr>
<td><span>Stronghold Iron Fence and Gate Hardware</span></td>
</tr>
<tr>
<td><span>* Two brackets and self-tapping screws required per horizontal rail</span></td>
</tr>
<tr>
<td><span> (2 rail fence panel = 4 brackets and screws)</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Cast Iron Flat Post Caps</span></td><td colspan="3"><span>Cast Iron Ball Post Caps</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>2"</span></td>
<td><span>TP06004BH</span></td>
<td><span>3,95</span></td><td><span>2"</span></td>
<td><span>TP05009BH</span></td>
<td><span>5,25</span></td>
</tr>
<tr>
<td><span>2.5"</span></td>
<td><span>TP06010BH</span></td>
<td><span>4,24</span></td><td><span>2.5"</span></td>
<td><span>TP05010BH</span></td>
<td><span>8,13</span></td>
</tr>
<tr>
<td><span>3"</span></td>
<td><span>TP06005BH</span></td>
<td><span>5,25</span></td><td><span>3"</span></td>
<td><span>TP05011BH</span></td>
<td><span>10,01</span></td>
</tr>
<tr>
<td><span>4"</span></td>
<td><span>TP06006BH</span></td>
<td><span>8,13</span></td><td><span>4"</span></td>
<td><span>TP05012BH</span></td>
<td><span>19,31</span></td>
</tr>
<tr>
<td><span>6"</span></td>
<td><span>TP06007BH</span></td>
<td><span>14,7</span></td><td><span>6"</span></td>
<td><span>TP05014BH</span></td>
<td><span>39,59</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Panel Brackets</span></td><td colspan="3"><span>Signature Grade Panel Brackets</span></td>
</tr>
<tr>
<td><span>Type</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Type</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>Standard</span></td>
<td><span>TPFB01R</span></td>
<td><span>1,82</span></td><td><span>Standard</span></td>
<td><span>TPFB02C</span></td>
<td><span>2</span></td>
</tr>
<tr>
<td><span>Angle</span></td>
<td><span>TPFBA05R</span></td>
<td><span>3,38</span></td><td><span>Angle</span></td>
<td><span>TPFBA06C</span></td>
<td><span>3,95</span></td>
</tr>

<tr>
<td colspan="3"><span>Self-Tapping Screws (100 per Box)</span></td>
</tr>
<tr>
<td><span>Size </span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>1" x #14</span></td>
<td><span>TPSDS114</span></td>
<td><span>14,7</span></td>
</tr>

<tr>
<td><span>Infinity Aluminum&reg;</span></td>
</tr>
<tr>
<td><span>* Aluminum fence requires use of self-tapping screws for installation (see Aluminum Hardware section) </span></td>
</tr>
<tr>
<td><span>* Aluminum walk gate prices do not include hinge and latch hardware (see Gate Hardware section for options)</span></td>
</tr>

<tr>
<td colspan="5" rowspan="5"><span>Classic Style Aluminum Fence</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td><td colspan="3"><span>Signature Grade Fence Panels</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 6'w</span></td>
<td><span>TPA0306R</span></td>
<td><span>126,72</span></td><td><span>3'h x 6'w</span></td>
<td><span>TPA0308C-6</span></td>
<td><span>181,02</span></td>
</tr>
<tr>
<td><span>4'h x 6'w</span></td>
<td><span>TPA0406R</span></td>
<td><span>132,92</span></td><td><span>3'h x 8'w</span></td>
<td><span>TPA0308C</span></td>
<td><span>230,8</span></td>
</tr>
<tr>
<td><span>5'h x 6'w</span></td>
<td><span>TPA0506R</span></td>
<td><span>165,19</span></td><td><span>4'h x 6'w</span></td>
<td><span>TPA0408C-6</span></td>
<td><span>192,34</span></td>
</tr>
<tr>
<td><span>6'h x 6'w</span></td>
<td><span>TPA0606R</span></td>
<td><span>200,23</span></td><td><span>4'h x 8'w</span></td>
<td><span>TPA0408C</span></td>
<td><span>244,38</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td><td><span>5'h x 6'w</span></td>
<td><span>TPA0508C-6</span></td>
<td><span>203,64</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td><td><span>6'h x 6'w</span></td>
<td><span>TPA0608C-6</span></td>
<td><span>260,22</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td><td colspan="3"><span>Signature Grade Single Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 4'w</span></td>
<td><span>TPAG0304R</span></td>
<td><span>332,75</span></td><td><span>3'h x 4'w</span></td>
<td><span>TPAG0304C</span></td>
<td><span>447,22</span></td>
</tr>
<tr>
<td><span>3'h x 5'w</span></td>
<td><span>TPAG0305R</span></td>
<td><span>395,98</span></td><td><span>3'h x 5'w</span></td>
<td><span>TPAG0305C</span></td>
<td><span>537,38</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TPAG0404R</span></td>
<td><span>352,99</span></td><td><span>4'h x 4'w</span></td>
<td><span>TPAG0404C</span></td>
<td><span>475,17</span></td>
</tr>
<tr>
<td><span>4'h x 5'w</span></td>
<td><span>TPAG0405R</span></td>
<td><span>418,61</span></td><td><span>4'h x 5'w</span></td>
<td><span>TPAG0405C</span></td>
<td><span>565,68</span></td>
</tr>
<tr>
<td><span>4'h x 6'w</span></td>
<td><span>TPAG0406R</span></td>
<td><span>531,74</span></td><td><span>4'h x 6'w</span></td>
<td><span>TPAG0406C</span></td>
<td><span>656,18</span></td>
</tr>
<tr>
<td><span>5'h x 4'w</span></td>
<td><span>TPAG0504R</span></td>
<td><span>398,24</span></td><td><span>5'h x 4'w</span></td>
<td><span>TPAG0504C</span></td>
<td><span>565,68</span></td>
</tr>
<tr>
<td><span>5'h x 5'w</span></td>
<td><span>TPAG0505R</span></td>
<td><span>475,17</span></td><td><span>5'h x 5'w</span></td>
<td><span>TPAG0505C</span></td>
<td><span>656,18</span></td>
</tr>
<tr>
<td><span>5'h x 6'w</span></td>
<td><span>TPAG0506R</span></td>
<td><span>565,68</span></td><td><span>5'h x 6'w</span></td>
<td><span>TPAG0506C</span></td>
<td><span>746,69</span></td>
</tr>
<tr>
<td><span>6'h x 4'w</span></td>
<td><span>TPAG0604R</span></td>
<td><span>443,5</span></td><td><span>6'h x 4'w</span></td>
<td><span>TPAG0604C</span></td>
<td><span>610,93</span></td>
</tr>
<tr>
<td><span>6'h x 5'w</span></td>
<td><span>TPAG0605R</span></td>
<td><span>531,74</span></td><td><span>6'h x 5'w</span></td>
<td><span>TPAG0605C</span></td>
<td><span>701,44</span></td>
</tr>
<tr>
<td><span>6'h x 6'w</span></td>
<td><span>TPAG0606R</span></td>
<td><span>599,62</span></td><td><span>6'h x 6'w</span></td>
<td><span>TPAG0606C</span></td>
<td><span>791,95</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Arched Gates</span></td><td colspan="3"><span>Signature Grade Arched Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 4'w</span></td>
<td><span>TPAG0304R-A</span></td>
<td><span>499,13</span></td><td><span>3'h x 4'w</span></td>
<td><span>TPAG0304C-A</span></td>
<td><span>641,54</span></td>
</tr>
<tr>
<td><span>4'h x 4'w</span></td>
<td><span>TPAG0404R-A</span></td>
<td><span>519,37</span></td><td><span>4'h x 4'w</span></td>
<td><span>TPAG0404C-A</span></td>
<td><span>653,64</span></td>
</tr>
<tr>
<td><span>5'h x 4'w</span></td>
<td><span>TPAG0504R-A</span></td>
<td><span>564,62</span></td><td><span>5'h x 4'w</span></td>
<td><span>TPAG0504C-A</span></td>
<td><span>732,05</span></td>
</tr>
<tr>
<td><span>6'h x 4'w</span></td>
<td><span>TPAG0604R-A</span></td>
<td><span>609,87</span></td><td><span>6'h x 4'w</span></td>
<td><span>TPAG0604C-A</span></td>
<td><span>777,3</span></td>
</tr>

<tr>
<td><span>Classic Style Aluminum Fence (cont'd)</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Double Gates</span></td><td colspan="3"><span>Signature Grade Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3'h x 8'w</span></td>
<td><span>TPAG0304RD</span></td>
<td><span>665,6</span></td><td><span>3'h x 8'w</span></td>
<td><span>TPAG0304CD</span></td>
<td><span>894,43</span></td>
</tr>
<tr>
<td><span>3'h x 10'w</span></td>
<td><span>TPAG0305RD</span></td>
<td><span>791,95</span></td><td><span>3'h x 10'w</span></td>
<td><span>TPAG0305CD</span></td>
<td><span>1074,77</span></td>
</tr>
<tr>
<td><span>4'h x 8'w</span></td>
<td><span>TPAG0404RD</span></td>
<td><span>705,97</span></td><td><span>4'h x 8'w</span></td>
<td><span>TPAG0404CD</span></td>
<td><span>950,33</span></td>
</tr>
<tr>
<td><span>4'h x 10'w</span></td>
<td><span>TPAG0405RD</span></td>
<td><span>837,2</span></td><td><span>4'h x 10'w</span></td>
<td><span>TPAG0405CD</span></td>
<td><span>1131,35</span></td>
</tr>
<tr>
<td><span>4'h x 12'w</span></td>
<td><span>TPAG0406RD</span></td>
<td><span>1063,47</span></td><td><span>4'h x 12'w</span></td>
<td><span>TPAG0406CD</span></td>
<td><span>1312,37</span></td>
</tr>
<tr>
<td><span>5'h x 8'w</span></td>
<td><span>TPAG0504RD</span></td>
<td><span>796,48</span></td><td><span>5'h x 8'w</span></td>
<td><span>TPAG0504CD</span></td>
<td><span>1131,35</span></td>
</tr>
<tr>
<td><span>5'h x 10'w</span></td>
<td><span>TPAG0505RD</span></td>
<td><span>950,33</span></td><td><span>5'h x 10'w</span></td>
<td><span>TPAG0505CD</span></td>
<td><span>1312,37</span></td>
</tr>
<tr>
<td><span>5'h x 12'w</span></td>
<td><span>TPAG0506RD</span></td>
<td><span>1131,35</span></td><td><span>5'h x 12'w</span></td>
<td><span>TPAG0506CD</span></td>
<td><span>1493,38</span></td>
</tr>
<tr>
<td><span>6'h x 8'w</span></td>
<td><span>TPAG0604RD</span></td>
<td><span>886,99</span></td><td><span>6'h x 8'w</span></td>
<td><span>TPAG0604CD</span></td>
<td><span>1221,86</span></td>
</tr>
<tr>
<td><span>6'h x 10'w</span></td>
<td><span>TPAG0605RD</span></td>
<td><span>1063,47</span></td><td><span>6'h x 10'w</span></td>
<td><span>TPAG0605CD</span></td>
<td><span>1402,87</span></td>
</tr>
<tr>
<td><span>6'h x 12'w</span></td>
<td><span>TPAG0606RD</span></td>
<td><span>1199,23</span></td><td><span>6'h x 12'w</span></td>
<td><span>TPAG0606CD</span></td>
<td><span>1583,89</span></td>
</tr>


<tr>
<td colspan="5" rowspan="4"><span>Pool Style Aluminum Fence</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Fence Panels</span></td>
<td><span>Signature Grade Fence Panels</span></td></tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>54"h x 6'w</span></td>
<td><span>TPA5406R</span></td>
<td><span>144,82</span></td><td><span>54"h x 8'w</span></td>
<td><span>TPA5408C</span></td>
<td><span>248,9</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td>
</tr>
<tr>
<td colspan="3"><span>Traditional Grade Single Gates</span></td>
<td><span>Signature Grade Single Gates</span></td></tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>54"h x 4'w</span></td>
<td><span>TPAG0544R</span></td>
<td><span>375,62</span></td><td><span>54"h x 4'w</span></td>
<td><span>TPAG0544C</span></td>
<td><span>475,17</span></td>
</tr>
<tr>
<td><span>54"h x 5'w</span></td>
<td><span>TPAG0545R</span></td>
<td><span>452,54</span></td><td><span>54"h x 5'w</span></td>
<td><span>TPAG0545C</span></td>
<td><span>565,68</span></td>
</tr>
<tr>
<td><span>54"h x 6'w</span></td>
<td><span>TPAG0546R</span></td>
<td><span>543,05</span></td><td><span>54"h x 6'w</span></td>
<td><span>TPAG0546C</span></td>
<td><span>656,18</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Arched Gates</span></td>
<td><span>Signature Grade Arched Gates</span></td></tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>54"h x 4'w</span></td>
<td><span>TPAG0544R-A</span></td>
<td><span>541,99</span></td><td><span>54"h x 4'w</span></td>
<td><span>TPAG0544C-A</span></td>
<td><span>641,54</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Double Gates</span></td>
<td><span>Signature Grade Double Gates</span></td></tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>54"h x 8'w</span></td>
<td><span>TPAG0544RD</span></td>
<td><span>751,22</span></td><td><span>54"h x 8'w</span></td>
<td><span>TPAG0544CD</span></td>
<td><span>950,33</span></td>
</tr>
<tr>
<td><span>54"h x 10'w</span></td>
<td><span>TPAG0545RD</span></td>
<td><span>905,08</span></td><td><span>54"h x 10'w</span></td>
<td><span>TPAG0545CD</span></td>
<td><span>1131,35</span></td>
</tr>
<tr>
<td><span>54"h x 12'w</span></td>
<td><span>TPAG0546RD</span></td>
<td><span>1086,1</span></td><td><span>54"h x 12'w</span></td>
<td><span>TPAG0546CD</span></td>
<td><span>1312,37</span></td>
</tr>

<tr>
<td><span>Classic Style Aluminum Driveway Gates</span></td>
</tr>
<tr>
<td><span>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </span></td>
</tr>
<tr>
<td><span>* Optional automated gate opener systems available (see Gate Automation section for options)</span></td>
</tr>

<tr>
<td><span>Single Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPSD5610A</span></td>
<td><span>1415,15</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPSD5612A</span></td>
<td><span>1460,8</span></td></tr>

<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPSD6710A</span></td>
<td><span>1529,28</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPSD6712A</span></td>
<td><span>1574,93</span></td></tr>

<tr>
<td><span>Double Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPDD0565A</span></td>
<td><span>1415,15</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0566A</span></td>
<td><span>1460,8</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0567A</span></td>
<td><span>1689,05</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0568A</span></td>
<td><span>1894,48</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>18' wide</span></td>
<td><span>TPDD0569A</span></td>
<td><span>2145,55</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>20' wide</span></td>
<td><span>TPDD5610A</span></td>
<td><span>2350,98</span></td></tr>

<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>10' wide</span></td>
<td><span>TPDD0675A</span></td>
<td><span>1529,28</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0676A</span></td>
<td><span>1574,93</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0677A</span></td>
<td><span>1826</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0678A</span></td>
<td><span>2099,9</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>18' wide</span></td>
<td><span>TPDD0679A</span></td>
<td><span>2350,98</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>20' wide</span></td>
<td><span>TPDD6710A</span></td>
<td><span>2624,88</span></td></tr>

<tr>
<td><span>Smooth Top Style Aluminum Driveway Gates</span></td>
</tr>
<tr>
<td><span>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options) </span></td>
</tr>
<tr>
<td><span>* Optional automated gate opener systems available (see Gaet Automation section for options)</span></td>
</tr>

<tr>
<td><span>Double Piece Gates</span></td>
</tr>
<tr>
<td><span>Height</span></td>
<td><span>Width</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0566ASM</span></td>
<td><span>1460,8</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0567ASM</span></td>
<td><span>1689,05</span></td></tr>
<tr>
<td><span>5' to 6' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0568ASM</span></td>
<td><span>1894,48</span></td></tr>

<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>12' wide</span></td>
<td><span>TPDD0676ASM</span></td>
<td><span>1574,93</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>14' wide</span></td>
<td><span>TPDD0677ASM</span></td>
<td><span>1826</span></td></tr>
<tr>
<td><span>6' to 7' Arch</span></td>
<td><span>16' wide</span></td>
<td><span>TPDD0678ASM</span></td>
<td><span>2099,9</span></td></tr>

<tr>
<td><span>Infinity Aluminum Fence and Gate Posts</span></td>
</tr>
<tr>
<td><span>* Post prices do not include post cap (see Aluminum Hardware section for options) </span></td>
</tr>

<tr>
<td><span>Traditional Grade Posts</span></td>
</tr>

<tr>
<td><span>Fence </span></td>
<td><span>SKU</span></td>
<td><span>Post Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>Type</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3606LR</span></td>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>0.060"</span></td>
<td><span>Line</span></td>
<td><span>33,95</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3606ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>0.060"</span></td>
<td><span>End</span></td>
<td><span>33,95</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3606CR</span></td>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>0.060"</span></td>
<td><span>Corner</span></td>
<td><span>33,95</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3612ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>55,42</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3612R</span></td>
<td><span>2" x 2"</span></td>
<td><span>5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>83,72</span></td>
</tr>

<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4606LR</span></td>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>0.060"</span></td>
<td><span>Line</span></td>
<td><span>36,21</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4606ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>0.060"</span></td>
<td><span>End</span></td>
<td><span>36,21</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4606CR</span></td>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>0.060"</span></td>
<td><span>Corner</span></td>
<td><span>36,21</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4612ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>58,84</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4612R</span></td>
<td><span>2" x 2"</span></td>
<td><span>6'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>83,72</span></td>
</tr>

<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5406LR</span></td>
<td><span>2" x 2"</span></td>
<td><span>6.5'</span></td>
<td><span>0.060"</span></td>
<td><span>Line</span></td>
<td><span>39,59</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5406ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>6.5'</span></td>
<td><span>0.060"</span></td>
<td><span>End</span></td>
<td><span>39,59</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5406CR</span></td>
<td><span>2" x 2"</span></td>
<td><span>6.5'</span></td>
<td><span>0.060"</span></td>
<td><span>Corner</span></td>
<td><span>39,59</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5412ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>6.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>64,47</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5412R</span></td>
<td><span>2" x 2"</span></td>
<td><span>6.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>83,72</span></td>
</tr>

<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5606LR</span></td>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>0.060"</span></td>
<td><span>Line</span></td>
<td><span>43</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5606ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>0.060"</span></td>
<td><span>End</span></td>
<td><span>43</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5606CR</span></td>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>0.060"</span></td>
<td><span>Corner</span></td>
<td><span>43</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5612ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>69</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5612R</span></td>
<td><span>2" x 2"</span></td>
<td><span>7'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>83,72</span></td>
</tr>

<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6606LR</span></td>
<td><span>2" x 2"</span></td>
<td><span>8.5'</span></td>
<td><span>0.060"</span></td>
<td><span>Line</span></td>
<td><span>52,05</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6606ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>8.5'</span></td>
<td><span>0.060"</span></td>
<td><span>End</span></td>
<td><span>52,05</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6606CR</span></td>
<td><span>2" x 2"</span></td>
<td><span>8.5'</span></td>
<td><span>0.060"</span></td>
<td><span>Corner</span></td>
<td><span>52,05</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6612ER</span></td>
<td><span>2" x 2"</span></td>
<td><span>8.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>83,72</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6612R</span></td>
<td><span>2" x 2"</span></td>
<td><span>8.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>83,72</span></td>
</tr>

<tr>
<td><span>Aluminum Fence and Gate Posts (cont'd)</span></td>
</tr>

<tr>
<td><span>Signature Grade Posts</span></td>
</tr>

<tr>
<td><span>Fence </span></td>
<td><span>SKU</span></td>
<td><span>Post Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>Type</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3807LC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>0.070"</span></td>
<td><span>Line</span></td>
<td><span>46,38</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3807EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>0.070"</span></td>
<td><span>End</span></td>
<td><span>46,38</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3807CC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>0.070"</span></td>
<td><span>Corner</span></td>
<td><span>46,38</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3812EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>82,58</span></td>
</tr>
<tr>
<td><span>3ft Tall</span></td>
<td><span>TPAP3812C</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>113,14</span></td>
</tr>

<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4807LC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>0.070"</span></td>
<td><span>Line</span></td>
<td><span>49,79</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4807EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>0.070"</span></td>
<td><span>End</span></td>
<td><span>49,79</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4807CC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>0.070"</span></td>
<td><span>Corner</span></td>
<td><span>49,79</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4812EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>88,25</span></td>
</tr>
<tr>
<td><span>4ft Tall</span></td>
<td><span>TPAP4812C</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>113,14</span></td>
</tr>

<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5407LC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6.5'</span></td>
<td><span>0.070"</span></td>
<td><span>Line</span></td>
<td><span>58,84</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5407EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6.5'</span></td>
<td><span>0.070"</span></td>
<td><span>End</span></td>
<td><span>58,84</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5407CC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6.5'</span></td>
<td><span>0.070"</span></td>
<td><span>Corner</span></td>
<td><span>58,84</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5412EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>98,42</span></td>
</tr>
<tr>
<td><span>54" Tall</span></td>
<td><span>TPAP5412C</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>6.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>113,14</span></td>
</tr>

<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5807LC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>0.070"</span></td>
<td><span>Line</span></td>
<td><span>59,95</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5807EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>0.070"</span></td>
<td><span>End</span></td>
<td><span>59,95</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5807CC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>0.070"</span></td>
<td><span>Corner</span></td>
<td><span>59,95</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5812EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>99,56</span></td>
</tr>
<tr>
<td><span>5ft Tall</span></td>
<td><span>TPAP5812C</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>7'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>113,14</span></td>
</tr>

<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6807LC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>8.5'</span></td>
<td><span>0.070"</span></td>
<td><span>Line</span></td>
<td><span>71,26</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6807EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>8.5'</span></td>
<td><span>0.070"</span></td>
<td><span>End</span></td>
<td><span>71,26</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6807CC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>8.5'</span></td>
<td><span>0.070"</span></td>
<td><span>Corner</span></td>
<td><span>71,26</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6812EC</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>8.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Gate End</span></td>
<td><span>113,14</span></td>
</tr>
<tr>
<td><span>6ft Tall</span></td>
<td><span>TPAP6812C</span></td>
<td><span>2.5" x 2.5"</span></td>
<td><span>8.5'</span></td>
<td><span>0.125"</span></td>
<td><span>Blank</span></td>
<td><span>113,14</span></td>
</tr>

<tr>
<td><span>Driveway Gate Posts</span></td>
</tr>

<tr>
<td><span>Size</span></td>
<td><span>Length</span></td>
<td><span>Thickness</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>8'</span></td>
<td><span>0.125"</span></td>
<td><span>TP4408A</span></td>
<td><span>214,96</span></td>
</tr>
<tr>
<td><span>4" x 4"</span></td>
<td><span>9'</span></td>
<td><span>0.125"</span></td>
<td><span>TP4409A</span></td>
<td><span>214,96</span></td>
</tr>
<tr>
<td><span>6" x 6"</span></td>
<td><span>9'</span></td>
<td><span>0.125"</span></td>
<td><span>TP6609A</span></td>
<td><span>328,1</span></td>
</tr>
<tr>
<td><span>Infinity Aluminum Fence and Gate Hardware</span></td>
</tr>

<tr>
<td colspan="3"><span>Cast Aluminum Flat Post Caps</span></td><td colspan="3"><span>Cast Aluminum Ball Post Caps</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>2"</span></td>
<td><span>TP06004-ALBH</span></td>
<td><span>3,95</span></td><td><span>2"</span></td>
<td><span>TP05009-ALBH</span></td>
<td><span>7,91</span></td>
</tr>
<tr>
<td><span>2.5"</span></td>
<td><span>TP06010-ALBH</span></td>
<td><span>4,53</span></td><td><span>2.5"</span></td>
<td><span>TP05010-ALBH</span></td>
<td><span>9,05</span></td>
</tr>
<tr>
<td><span>4"</span></td>
<td><span>TP06006-ALBH</span></td>
<td><span>17</span></td><td><span>4"</span></td>
<td><span>TP05012-ALBH</span></td>
<td><span>33,95</span></td>
</tr>
<tr>
<td><span>6"</span></td>
<td><span>TP06007-ALBH</span></td>
<td><span>27,16</span></td><td><span>6"</span></td>
<td><span>TP05014-ALBH</span></td>
<td><span>45,25</span></td>
</tr>

<tr>
<td colspan="3"><span>Traditional Grade Panel Brackets</span></td><td colspan="3"><span>Signature Grade Panel Brackets</span></td>
</tr>
<tr>
<td><span>Type</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Type</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>Wall/ Flex</span></td>
<td><span>TPAFBRR1</span></td>
<td><span>4,53</span></td><td><span>Wall/ Flex</span></td>
<td><span>TPAFBRC3</span></td>
<td><span>6,8</span></td>
</tr>
<tr>
<td><span>Angle</span></td>
<td><span>TPAFBAR2</span></td>
<td><span>4,53</span></td><td><span>Angle</span></td>
<td><span>TPAFBRC4</span></td>
<td><span>6,8</span></td>
</tr>
<tr>
<td><span>Swivel</span></td>
<td><span>NW61955BKR</span></td>
<td><span>8,23</span></td><td><span>Swivel</span></td>
<td><span>NW6228BKC</span></td>
<td><span>8,23</span></td>
</tr>

<tr>
<td colspan="3"><span>Self-Tapping Screws (100 per Box)</span></td>
<td><span>Flange Inserts for Posts</span></td></tr>
<tr>
<td><span>Size </span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td><td><span>Size </span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>1" x #8</span></td>
<td><span>TPSDS108</span></td>
<td><span>9,05</span></td><td><span>2"</span></td>
<td><span>TP12208B</span></td>
<td><span>13,59</span></td>
</tr>
<tr>
<td><span>&nbsp;</span></td><td><span>2.5"</span></td>
<td><span>TP12209B</span></td>
<td><span>13,59</span></td>
</tr>

<tr>
<td><span>Gate Hinge and Latch Hardware</span></td>
</tr>

<tr>
<td><span>Gate Hinges</span></td>
</tr>
<tr>
<td><span>Type</span></td>
<td><span>Description</span></td>
<td><span>Adjustable?</span></td>
<td><span>Rating</span></td>
<td colspan="2"><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>J-Bolt</span></td>
<td><span>5.5" J-Bolt</span></td>
<td><span>Yes</span></td>
<td><span>300lbs</span></td>
<td colspan="2"><span>TPJB55 (ea)</span></td>
<td><span>19,39</span></td>
</tr>
<tr>
<td><span>J-Bolt</span></td>
<td><span>7" J-Bolt</span></td>
<td><span>Yes</span></td>
<td><span>450lbs</span></td>
<td colspan="2"><span>TPJB07 (ea)</span></td>
<td><span>31,28</span></td>
</tr>
<tr>
<td><span>J-Bolt</span></td>
<td><span>Hdw Kit</span></td>
<td><span>N/A</span></td>
<td><span>N/A</span></td>
<td colspan="2"><span>TPHBOLTS (1 per hinge pr)</span></td>
<td><span>18,5</span></td>
</tr>
<tr>
<td><span>Self-Closing</span></td>
<td><span>Standard- Duty</span></td>
<td><span>No</span></td>
<td><span>66lbs</span></td>
<td colspan="2"><span>TPSHG-90L (pr)</span></td>
<td><span>32,07</span></td>
</tr>
<tr>
<td><span>Self-Closing</span></td>
<td><span>Heavy-Duty</span></td>
<td><span>No</span></td>
<td><span>154lbs</span></td>
<td colspan="2"><span>TPSHH-135LS (pr)</span></td>
<td><span>59,24</span></td>
</tr>

<tr>
<td><span>Gate Latches</span></td>
</tr>
<tr>
<td colspan="2"><span>Description</span></td>
<td><span>Handle?</span></td>
<td><span>Keyed?</span></td>
<td colspan="2"><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td colspan="2"><span>Standard Gravity Latch</span></td>
<td><span>No</span></td>
<td><span>No</span></td>
<td colspan="2"><span>TP11056B</span></td>
<td><span>8,7</span></td>
</tr>
<tr>
<td colspan="2"><span>Cobra Single Gravity Latch</span></td>
<td><span>No</span></td>
<td><span>Yes</span></td>
<td colspan="2"><span>TPSL1000</span></td>
<td><span>38,48</span></td>
</tr>
<tr>
<td colspan="2"><span>Cobra Double Gravity Latch</span></td>
<td><span>No</span></td>
<td><span>Yes</span></td>
<td colspan="2"><span>TPSL2000</span></td>
<td><span>82,89</span></td>
</tr>
<tr>
<td colspan="2"><span>Safetech Pool Latch</span></td>
<td><span>No</span></td>
<td><span>Yes</span></td>
<td colspan="2"><span>TPSL-50</span></td>
<td><span>60,32</span></td>
</tr>
<tr>
<td colspan="2"><span>OrnaMag Latch</span></td>
<td><span>Yes</span></td>
<td><span>Yes</span></td>
<td colspan="2"><span>TP-OM_BL-K</span></td>
<td><span>87,45</span></td>
</tr>

<tr>
<td><span>Drop Rods for Double Gates</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>24" Standard</span></td>
<td><span>TP09010-1B</span></td>
<td><span>22,63</span></td>
</tr>
<tr>
<td><span>36" Standard</span></td>
<td><span>TP09010B</span></td>
<td><span>28,27</span></td>
</tr>

<tr>
<td><span>Driveway Gate Automation</span></td>
</tr>

<tr>
<td><span>Opener Systems</span></td><td colspan="2"><span>SKU</span></td>
<td><span>Price</span></td>
</tr>
<tr>
<td><span>Linear PRO Single Gate Opener Kit (Medium Duty)</span></td><td colspan="2"><span>TPSW3000XLS</span></td>
<td><span>935</span></td>
</tr>
<tr>
<td><span>Linear PRO Slave Motor for 3000 Series</span></td><td colspan="2"><span>TPSW3200XLS</span></td>
<td><span>594</span></td>
</tr>
<tr>
<td><span>Linear PRO Single Gate Opener Kit (Heavy Duty)</span></td><td colspan="2"><span>TPSW4000XLS</span></td>
<td><span>1360,65</span></td>
</tr>
<tr>
<td><span>Linear PRO Slave Motor for 4000 Series</span></td><td colspan="2"><span>TPSW4200XLS</span></td>
<td><span>928,07</span></td>
</tr>
<tr>
<td><span>Linear PRO Push to Open Bracket for 3000 Series </span></td><td colspan="2"><span>TPR4388</span></td>
<td><span>59,68</span></td>
</tr>

<tr>
<td><span>Transmitters</span></td>
</tr>
<tr>
<td><span>Linear PRO 2-Button Transmitter</span></td><td colspan="2"><span>TPRB742</span></td>
<td><span>38,79</span></td>
</tr>
<tr>
<td><span>Linear PRO 1-Button Transmitter</span></td><td colspan="2"><span>TPRB741</span></td>
<td><span>29,47</span></td>
</tr>
<tr>
<td><span>Linear PRO Push Button Doorbell Style Opener</span></td><td colspan="2"><span>TPRB101</span></td>
<td><span>10,04</span></td>
</tr>

<tr>
<td><span>Keypads and Intercoms</span></td>
</tr>
<tr>
<td><span>Linear PRO Bulldog Pedestrian Gate Lock and Keypad</span></td><td colspan="2"><span>TPFM145</span></td>
<td><span>392,7</span></td>
</tr>
<tr>
<td><span>Linear PRO Wired/ Wireless Intercom with Keypad</span></td><td colspan="2"><span>TPFM3100MBC</span></td>
<td><span>435,6</span></td>
</tr>
<tr>
<td><span>Linear PRO Addl Intercom Base for TPFM3100MBC</span></td><td colspan="2"><span>TPFM3101MBC</span></td>
<td><span>220,83</span></td>
</tr>
<tr>
<td><span>Linear PRO Wired/ Wireless Keypad</span></td><td colspan="2"><span>TPF310</span></td>
<td><span>100,38</span></td>
</tr>
<tr>
<td><span>Linear PRO Gooseneck Post for Keypad/ Intercom</span></td><td colspan="2"><span>TPF100</span></td>
<td><span>193,91</span></td>
</tr>

<tr>
<td><span>Locks</span></td>
</tr>
<tr>
<td><span>Linear PRO Pin Lock</span></td><td colspan="2"><span>TPFM345</span></td>
<td><span>23,42</span></td>
</tr>
<tr>
<td><span>Linear PRO Electric Gate Lock</span></td><td colspan="2"><span>TPFM144</span></td>
<td><span>170,49</span></td>
</tr>

<tr>
<td><span>Entry/ Exit Sensors</span></td>
</tr>
<tr>
<td><span>Linear PRO Vehicle Exit Sensor (50')</span></td><td colspan="2"><span>TPFM139</span></td>
<td><span>200,56</span></td>
</tr>
<tr>
<td><span>Linear PRO Wireless Vehicle Exit Sensor</span></td><td colspan="2"><span>TPR4500</span></td>
<td><span>294,53</span></td>
</tr>
<tr>
<td><span>Linear PRO Photoelectric Dual Beam Detector</span></td><td colspan="2"><span>TPR4222</span></td>
<td><span>175,95</span></td>
</tr>
<tr>
<td><span>Linear PRO Siren Operated Sensor (SOS)</span></td><td colspan="2"><span>TPSOS2510373</span></td>
<td><span>792</span></td>
</tr>

<tr>
<td><span>Power Accessories</span></td>
</tr>
<tr>
<td><span>Linear PRO 10W Solar Panel Kit</span></td><td colspan="2"><span>TPFM123</span></td>
<td><span>247,45</span></td>
</tr>
<tr>
<td><span>Linear PRO Replacement/ Additional Battery</span></td><td colspan="2"><span>TPRB500</span></td>
<td><span>53,55</span></td>
</tr>
<tr>
<td><span>Linear PRO Replacement Plug-In Transformer</span></td><td colspan="2"><span>TPRB570</span></td>
<td><span>33,46</span></td>
</tr>

<tr>
<td><span>Add-On Decorations</span></td>
</tr>
<tr>
<td><span>* All add-on decorations fit vertically over the picket and are secured via self-tapping screws</span></td>
</tr>

<tr>
<td><span>Individual Decorations</span></td>
</tr>

<tr>
<td><span>Fence Grade</span></td>
<td><span>Style</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
<td><span>Height</span></td>
<td><span>Width</span></td></tr>
<tr>
<td><span>Traditional</span></td>
<td><span>Butterfly</span></td>
<td><span>TP12010-BH</span></td>
<td><span>2,27</span></td>
<td><span>3.625"</span></td>
<td><span>3.75"</span></td></tr>
<tr>
<td><span>Signature</span></td>
<td><span>Butterfly</span></td>
<td><span>TP12010-2BH</span></td>
<td><span>2,27</span></td>
<td><span>3.625"</span></td>
<td><span>3.75"</span></td></tr>

<tr>
<td><span>Traditional</span></td>
<td><span>Ring Set</span></td>
<td><span>TPDRA01R</span></td>
<td><span>6,8</span></td>
<td><span>3.75"</span></td>
<td><span>12.875"</span></td></tr>
<tr>
<td><span>Signature</span></td>
<td><span>Ring Set</span></td>
<td><span>TPDRA01C</span></td>
<td><span>6,8</span></td>
<td><span>3.75"</span></td>
<td><span>12.875"</span></td></tr>

<tr>
<td><span>Traditional</span></td>
<td><span>Guardian</span></td>
<td><span>TP12001-BH</span></td>
<td><span>16,94</span></td>
<td><span>16.5"</span></td>
<td><span>6.75"</span></td></tr>
<tr>
<td><span>Signature</span></td>
<td><span>Guardian</span></td>
<td><span>TP12001-2BH</span></td>
<td><span>16,94</span></td>
<td><span>16.5"</span></td>
<td><span>6.75"</span></td></tr>

<tr>
<td><span>Traditional</span></td>
<td><span>Cape Cod</span></td>
<td><span>TP12004-BH</span></td>
<td><span>16,94</span></td>
<td><span>13.75"</span></td>
<td><span>7.25"</span></td></tr>
<tr>
<td><span>Signature</span></td>
<td><span>Cape Cod</span></td>
<td><span>TP12004-2BH</span></td>
<td><span>16,94</span></td>
<td><span>13.75"</span></td>
<td><span>7.25"</span></td></tr>

<tr>
<td><span>Traditional</span></td>
<td><span>Oak</span></td>
<td><span>TP12002-BH</span></td>
<td><span>20,24</span></td>
<td><span>15.125"</span></td>
<td><span>7.875"</span></td></tr>
<tr>
<td><span>Signature</span></td>
<td><span>Oak</span></td>
<td><span>TP12002-2BH</span></td>
<td><span>20,24</span></td>
<td><span>15.125"</span></td>
<td><span>7.875"</span></td></tr>


<tr>
<td><span>Self-Tapping Screws for Decorations</span></td>
</tr>
<tr>
<td><span>Size</span></td>
<td><span>SKU</span></td>
<td><span>Price</span></td>
<td><span>Count</span></td>
<td colspan="3"><span>Note</span></td>
</tr>
<tr>
<td><span>1/2" x #8</span></td>
<td><span>TPSDS058</span></td>
<td><span>12,67</span></td>
<td><span>100/ Box</span></td>
<td colspan="3"><span>For Ring Decorations Only</span></td>
</tr>
<tr>
<td><span>3/4" x #8</span></td>
<td><span>TPSDS348</span></td>
<td><span>12,67</span></td>
<td><span>100/ Box</span></td>
<td colspan="3"><span>For All Decorations Except Rings</span></td>
</tr>
<tr>
<td><span>1" x #8</span></td>
<td><span>TPSDS108P</span></td>
<td><span>12,67</span></td>
<td><span>100/ Box</span></td>
<td colspan="3"><span>For Signature Butterfies</span></td>
</tr>
</tbody>
</table>